Repository neondatabase/neon, pull requests merged in 2022-09, with the labels that each got.

#2384 Add tests for measuring effect of lsn caching
  test_runner/performance/test_latency.py
  test_runner/regress/test_lsn_mapping.py
Labels: run-benchmarks

#2310 Update relation size cache only when latest LSN is requested
  pageserver/src/basebackup.rs
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/walingest.rs
  test_runner/regress/test_readonly_node.py
Labels: run-benchmarks

#2328 Cleanup tenant specific metrics once a tenant is detached.
  pageserver/src/layered_repository.rs
  pageserver/src/layered_repository/layer_map.rs
  pageserver/src/layered_repository/timeline.rs
  pageserver/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  pageserver/src/storage_sync.rs
  pageserver/src/storage_sync/upload.rs
  pageserver/src/tenant_tasks.rs
  pageserver/src/virtual_file.rs
  pageserver/src/walreceiver/walreceiver_connection.rs
  pageserver/src/walredo.rs
  test_runner/fixtures/metrics.py
  test_runner/regress/test_tenants.py
Labels: c/storage/pageserver

#2376 Switch to async for all concurrency in the pageserver.
  Cargo.lock
  docs/pageserver-thread-mgmt.md
  libs/utils/Cargo.toml
  libs/utils/src/lib.rs
  libs/utils/src/postgres_backend_async.rs
  libs/utils/src/seqwait.rs
  libs/utils/src/seqwait_async.rs
  pageserver/Cargo.toml
  pageserver/src/basebackup.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/http/routes.rs
  pageserver/src/layered_repository.rs
  pageserver/src/layered_repository/timeline.rs
  pageserver/src/lib.rs
  pageserver/src/page_service.rs
  pageserver/src/storage_sync.rs
  pageserver/src/storage_sync/upload.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant_mgr.rs
  pageserver/src/tenant_tasks.rs
  pageserver/src/thread_mgr.rs
  pageserver/src/timelines.rs
  pageserver/src/walreceiver.rs
  pageserver/src/walreceiver/connection_manager.rs
  pageserver/src/walreceiver/walreceiver_connection.rs
  test_runner/regress/test_tenant_tasks.py
  workspace_hack/Cargo.toml
Labels: run-benchmarks

#2152 Timeline data management RFC
  docs/SUMMARY.md
  docs/rfcs/017-timeline-data-management.md
  docs/rfcs/images/017-timeline-data-management/lock_legend.svg
  docs/rfcs/images/017-timeline-data-management/proposed_timeline_data_access_sync_1.svg
  docs/rfcs/images/017-timeline-data-management/proposed_timeline_data_access_sync_2.svg
  docs/rfcs/images/017-timeline-data-management/proposed_timeline_tenant_state.svg
  docs/rfcs/images/017-timeline-data-management/timeline_data_access_sync_1.svg
  docs/rfcs/images/017-timeline-data-management/timeline_data_access_sync_2.svg
  docs/rfcs/images/017-timeline-data-management/timeline_tenant_state.svg
Labels: t/tech_design_rfc

#2490 Fix benchmark tests
  test_runner/fixtures/compare_fixtures.py
Labels: run-benchmarks

#2317 R-Tree layer map
  Cargo.lock
  pageserver/Cargo.toml
  pageserver/src/repository.rs
  pageserver/src/tenant/delta_layer.rs
  pageserver/src/tenant/layer_map.rs
  pageserver/src/tenant/timeline.rs
  test_runner/performance/test_layer_map.py
  workspace_hack/Cargo.toml
Labels: run-benchmarks
