Repository neondatabase/neon, pull requests merged in 2022-05, with the labels that each got.

#1324 Add simple test of pageserver recovery after crash.
  .circleci/config.yml
  pageserver/src/bin/pageserver.rs
  pageserver/src/layered_repository.rs
  test_runner/batch_others/test_recovery.py
  test_runner/fixtures/zenith_fixtures.py
Labels: c/storage/pageserver, a/test

#1635 Prepare etcd_broker crate for further pageserver usage
  Cargo.lock
  control_plane/src/local_env.rs
  control_plane/src/safekeeper.rs
  libs/etcd_broker/Cargo.toml
  libs/etcd_broker/src/lib.rs
  libs/utils/src/zid.rs
  neon_local/src/main.rs
  safekeeper/Cargo.toml
  safekeeper/src/bin/safekeeper.rs
  safekeeper/src/broker.rs
  safekeeper/src/http/routes.rs
  safekeeper/src/lib.rs
  safekeeper/src/safekeeper.rs
  safekeeper/src/timeline.rs
  workspace_hack/Cargo.toml
Labels: c/storage/safekeeper

#1634 Share the remote storage as a crate
  Cargo.lock
  control_plane/src/storage.rs
  docs/settings.md
  libs/remote_storage/Cargo.toml
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  pageserver/Cargo.toml
  pageserver/README.md
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/layered_repository.rs
  pageserver/src/lib.rs
  pageserver/src/remote_storage.rs
  pageserver/src/repository.rs
  pageserver/src/storage_sync.rs
  pageserver/src/storage_sync/download.rs
  pageserver/src/storage_sync/index.rs
  pageserver/src/storage_sync/upload.rs
  pageserver/src/tenant_mgr.rs
  pageserver/src/timelines.rs
  safekeeper/Cargo.toml
  safekeeper/src/s3_offload.rs
  test_runner/fixtures/zenith_fixtures.py
  workspace_hack/Cargo.toml
Labels: c/storage/safekeeper, c/storage/pageserver

#1693 Disable tenant relocation python test
  test_runner/batch_others/test_tenant_relocation.py
Labels: c/storage/pageserver

#1697 Test simple.conf and handle broker_endpoints better
  control_plane/src/local_env.rs
  control_plane/src/safekeeper.rs
  libs/remote_storage/src/lib.rs
  neon_local/src/main.rs
  test_runner/fixtures/zenith_fixtures.py
Labels: c/CLI

#1797 Tidy up CI configs slightly
  .circleci/config.yml
  .github/workflows/testing.yml
Labels: a/tech_debt

#1801 allow TLS 1.2 in proxy to be compatible with older client libraries
  proxy/src/config.rs
Labels: c/cloud/proxy

#1808 Change proxy welcome message
  proxy/src/auth_backend/link.rs
Labels: c/cloud/proxy
