Repository neondatabase/neon, pull requests merged in 2022-10, with the labels that each got.

#2525 Improve pytest ergonomics
  pytest.ini
  test_runner/README.md
Labels: run-benchmarks

#2143 Add more performance tests for branching
  test_runner/performance/test_branch_creation.py
  test_runner/performance/test_branching.py
Labels: run-benchmarks

#2629 Improve pageserver IO metrics
  pageserver/src/metrics.rs
  test_runner/fixtures/compare_fixtures.py
  test_runner/fixtures/metrics.py
Labels: c/storage/pageserver, a/performance, a/benchmark, c/storage

#2626 Add data format backward compatibility tests
  .github/actions/run-python-test-set/action.yml
  .github/workflows/build_and_test.yml
  poetry.lock
  pyproject.toml
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
Labels: t/Epic, c/storage

#2688 Add draw_timeline binary
  Cargo.lock
  Dockerfile
  pageserver/Cargo.toml
  pageserver/src/bin/draw_timeline_dir.rs
Labels: c/storage/pageserver
