Repository neondatabase/neon, pull requests merged in 2023-03, with the labels that each got.

#3733 Compile `rum` extension
  Dockerfile.compute-node
Labels: /release-notes

#3744 fix benchmarks, broken by PR #3737
  test_runner/fixtures/benchmark_fixture.py
  test_runner/fixtures/compare_fixtures.py
Labels: run-benchmarks

#3757 Compile `prefix` extension
  Dockerfile.compute-node
Labels: /release-notes

#3767 Compile `hll` extension
  Dockerfile.compute-node
Labels: /release-notes

#3770 Compile `plpgsql_check` extension
  Dockerfile.compute-node
Labels: /release-notes

#3763 Add performance test for compaction and image layer creation
  test_runner/performance/test_compaction.py
Labels: run-benchmarks

#3792 rfc: delete pageserver data from s3
  docs/rfcs/022-pageserver-delete-from-s3.md
Labels: c/storage/pageserver, c/storage

#3905 add more tests for disk-usage eviction
  Cargo.lock
  libs/utils/Cargo.toml
  libs/utils/src/lib.rs
  libs/utils/src/serde_regex.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/lib.rs
  pageserver/src/statvfs.rs
  pageserver/src/tenant/tasks.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_disk_usage_eviction.py
Labels: run-extra-build-macos

#3926 check-macos-build: fix cache key
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-macos
