Repository neondatabase/neon, pull requests merged in 2023-09, with the labels that each got.

#5168 tests: broaden a log allow regex in `test_ignored_tenant_stays_broken_without_metadata`
  test_runner/regress/test_tenant_detach.py
Labels: a/test, a/tech_debt

#5086 rfc: Crash-Consistent Layer Map Updates By Leveraging index_part.json
  docs/rfcs/027-crash-consistent-layer-map-through-index-part.md
Labels: c/storage/pageserver, t/tech_design_rfc

#5184 tests: get test name automatically for remote storage
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_disk_usage_eviction.py
  test_runner/regress/test_download_extensions.py
  test_runner/regress/test_gc_aggressive.py
  test_runner/regress/test_layer_eviction.py
  test_runner/regress/test_metric_collection.py
  test_runner/regress/test_ondemand_download.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_threshold_based_eviction.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_timeline_size.py
  test_runner/regress/test_wal_acceptor.py
Labels: a/test, a/tech_debt

#5182 pageserver: safe deletion for tenant directories
  pageserver/src/tenant/mgr.rs
Labels: t/bug, c/storage/pageserver

#5188 chore(pageserver): remove unnecessary logging in tenant task loops
  pageserver/src/tenant/tasks.rs
Labels: approved-for-ci-run

#5176 scrubber: add `scan-metadata` and hook into integration tests
  Cargo.lock
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  pageserver/src/virtual_file.rs
  s3_scrubber/Cargo.toml
  s3_scrubber/src/checks.rs
  s3_scrubber/src/delete_batch_producer/timeline_batch.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/metadata_stream.rs
  s3_scrubber/src/s3_deletion.rs
  s3_scrubber/src/scan_metadata.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/remote_storage.py
  test_runner/fixtures/utils.py
  test_runner/regress/test_pageserver_restart.py
Labels: a/tech_debt, c/storage/scrubber

#5163 pageserver: generation number fetch on startup and use in /attach
  Cargo.lock
  control_plane/Cargo.toml
  control_plane/src/attachment_service.rs
  control_plane/src/bin/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/lib.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/control_api.rs
  libs/pageserver_api/src/lib.rs
  libs/pageserver_api/src/models.rs
  libs/remote_storage/src/local_fs.rs
  libs/utils/src/generation.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/control_plane_client.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/metadata.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/init.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_remote_storage.py
Labels: t/feature, c/storage/pageserver

#5236 Update PostGIS to version 3.3.3
  Dockerfile.compute-node
Labels: /release-notes

#5237 Upgrade h3-pg to version 4.1.3.
  Dockerfile.compute-node
Labels: /release-notes

#5242 Upgrade ip4r to version 2.4.2
  Dockerfile.compute-node
Labels: /release-notes

#5241 Upgrade postgresql-hll to version 2.18.
  Dockerfile.compute-node
Labels: /release-notes

#5244 Upgrade prefix extension to version 1.2.10
  Dockerfile.compute-node
Labels: /release-notes

#5245 Update hypopg extension to version 1.4.0
  Dockerfile.compute-node
Labels: /release-notes

#5249 Update plpgsql_check extension to version v2.4.0
  Dockerfile.compute-node
Labels: /release-notes

#5252 Update pg_cron to version 1.6.0
  Dockerfile.compute-node
Labels: /release-notes

#5243 test: Remote storage refactorings
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/utils.py
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_disk_usage_eviction.py
  test_runner/regress/test_download_extensions.py
  test_runner/regress/test_gc_aggressive.py
  test_runner/regress/test_import.py
  test_runner/regress/test_layer_eviction.py
  test_runner/regress/test_metric_collection.py
  test_runner/regress/test_ondemand_download.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_threshold_based_eviction.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_timeline_size.py
  test_runner/regress/test_wal_acceptor.py
Labels: a/tech_debt

#5231 tests: enable multiple pageservers in `neon_local` and `neon_fixture`
  control_plane/simple.conf
  control_plane/src/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_close_fds.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_import.py
  test_runner/regress/test_large_schema.py
  test_runner/regress/test_neon_cli.py
  test_runner/regress/test_ondemand_download.py
  test_runner/regress/test_pageserver_api.py
  test_runner/regress/test_read_trace.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_wal_restore.py
  test_runner/regress/test_walredo_not_left_behind_on_detach.py
Labels: t/feature, c/storage/pageserver, a/test

#5260 Update rdkit to version 2023_03_03.
  Dockerfile.compute-node
Labels: /release-notes

#5171 s3_scrubber: remove atty dependency
  s3_scrubber/Cargo.toml
  s3_scrubber/src/lib.rs
Labels: a/tech_debt, c/storage/scrubber

#5262 Move tenant & timeline dir method to NeonPageserver and use them everywhere
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_bulk_insert.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_disk_usage_eviction.py
  test_runner/regress/test_import.py
  test_runner/regress/test_layer_eviction.py
  test_runner/regress/test_layer_writers_fail.py
  test_runner/regress/test_ondemand_download.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_timeline_size.py
  test_runner/regress/test_walredo_not_left_behind_on_detach.py
Labels: c/storage/pageserver, a/test

#5343 README: update for libicu dependency
  README.md
Labels: t/bug, a/documentation

#5345 Forbid installation of `pg_embedding` extension
  Dockerfile.compute-node
Labels: /release-notes

#5346 Forbid installation of `hnsw` extension
  Makefile
  pgxn/hnsw/hnsw.control
Labels: /release-notes

#5207 pageserver: deletion queue & generation validation for deletions
  control_plane/src/bin/attachment_service.rs
  libs/pageserver_api/src/models.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/utils/src/generation.rs
  libs/utils/src/http/error.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/control_plane_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/deleter.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/deletion_queue/validator.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/repository.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/delete.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  pageserver/src/tenant/upload_queue.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/fixtures/pageserver/utils.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_timeline_delete.py
Labels: t/feature, c/storage/pageserver

#5383 pageserver: add control_plane_api_token config
  libs/utils/src/logging.rs
  pageserver/src/config.rs
  pageserver/src/control_plane_client.rs
Labels: t/feature, c/storage/pageserver

#5029 docs/rfcs: add RFC for fast tenant migration/failover
  docs/rfcs/028-pageserver-migration.md
Labels: c/storage/pageserver, t/tech_design_rfc, c/control-plane

#5402 tests: Default to LOCAL_FS for pageserver remote storage
  pageserver/src/bin/pageserver.rs
  test_runner/fixtures/compare_fixtures.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_pageserver_metric_collection.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_timeline_size.py
Labels: run-benchmarks

#5419 pageserver: don't try and recover deletion queue if no remote storage
  pageserver/src/tenant/mgr.rs
Labels: t/bug, c/storage/pageserver

#5411 tests: use approximate equality in test_get_tenant_size_with_multiple_branches
  test_runner/regress/test_tenant_size.py
Labels: c/storage/pageserver, a/test
