Repository neondatabase/neon, pull requests merged in 2023-08, with the labels that each got.

#4856 wait for tenant to be active before polling for timeline absence
  test_runner/fixtures/pageserver/utils.py
  test_runner/regress/test_timeline_delete.py
Labels: c/storage/pageserver

#4876 pagekeeper: suppress error logs in shutdown/detach
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#4885 README: make it a bit clearer how to get regression tests running
  README.md
Labels: a/documentation, a/tech_debt

#4890 pageserver: enhance `timed` helper to warn earlier
  pageserver/src/lib.rs
Labels: c/storage/pageserver, a/tech_debt

#4879 pageserver: remove no-op attempt to report fail/failpoint feature
  pageserver/src/bin/pageserver.rs
Labels: c/storage/pageserver, a/tech_debt

#4872 pagectl: skip `metadata` file in `pagectl draw-timeline`
  pageserver/ctl/src/draw_timeline_dir.rs
Labels: c/storage/pageserver, a/tech_debt

#4904 tests: enable higher concurrency and adjust tests with outlier runtime
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_duplicate_layers.py
  test_runner/regress/test_wal_acceptor_async.py
Labels: a/test, a/tech_debt

#4902 pageserver: avoid logging the "ERROR" part of DbErrors that are successes
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  safekeeper/src/send_wal.rs
  test_runner/fixtures/neon_fixtures.py
Labels: c/storage/pageserver, a/tech_debt

#4549 Improve test results format
  .github/actions/allure-report-generate/action.yml
  .github/actions/download/action.yml
  .github/workflows/build_and_test.yml
  scripts/comment-test-report.js
  scripts/ingest_regress_test_result-new-format.py
Labels: run-benchmarks

#4971 pageserver: avoid incrementing access time when reading layers for compaction
  pageserver/src/context.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#4992 tests: extend timeout in timeline deletion test
  test_runner/fixtures/pageserver/utils.py
  test_runner/regress/test_remote_storage.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#4972 pageserver: do not read redundant `timeline_layers` from IndexPart, so that we can remove it later
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/upload_queue.rs
Labels: c/storage/pageserver, a/tech_debt

#5065 libs: make backoff::retry() take a cancellation token
  Cargo.lock
  libs/utils/Cargo.toml
  libs/utils/src/backoff.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
Labels: c/storage/pageserver, a/tech_debt

#5091 pageserver: refactor TimelineMetadata serialization in IndexPart
  pageserver/src/tenant.rs
  pageserver/src/tenant/metadata.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/upload_queue.rs
Labels: c/storage/pageserver, a/tech_debt

#5132 Upgrade pgvector to 0.5.0
  Dockerfile.compute-node
Labels: /release-notes

#4919 docs: add RFC for remote storage generation numbers
  docs/rfcs/025-generation-numbers.md
Labels: c/storage/pageserver, t/tech_design_rfc

#5153 pageserver: remove vestigial `timeline_layers` attribute
  pageserver/src/tenant/remote_timeline_client/index.rs
Labels: c/storage/pageserver, a/tech_debt

#5140 pageserver: generation number support in keys and indices
  libs/utils/src/generation.rs
  libs/utils/src/lib.rs
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/delete.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/init.rs
  pageserver/src/tenant/upload_queue.rs
Labels: t/feature, c/storage/pageserver

#5157 pageserver: fix test v4_indexpart_is_parsed
  pageserver/src/tenant/remote_timeline_client/index.rs
Labels: c/storage/pageserver, a/tech_debt

#5141 s3_scrubber: import into the main `neon` repository
  .dockerignore
  Cargo.lock
  Cargo.toml
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/storage_layer/filename.rs
  s3_scrubber/Cargo.toml
  s3_scrubber/README.md
  s3_scrubber/src/checks.rs
  s3_scrubber/src/cloud_admin_api.rs
  s3_scrubber/src/delete_batch_producer.rs
  s3_scrubber/src/delete_batch_producer/tenant_batch.rs
  s3_scrubber/src/delete_batch_producer/timeline_batch.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/s3_deletion.rs
  workspace_hack/Cargo.toml
Labels: a/tech_debt, c/storage
