Repository neondatabase/neon, pull requests merged in 2023-11, with the labels that each got.

#5755 Record wal size in import benchmark
  test_runner/performance/test_bulk_insert.py
Labels: a/benchmark, run-benchmarks

#5651 pageserver: helpers for explicitly dying on fatal I/O errors
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/deletion_queue/validator.rs
  pageserver/src/virtual_file.rs
Labels: c/storage/pageserver, a/tech_debt

#5700 s3_scrubber: prepare for scrubbing buckets with generation-aware content
  Cargo.lock
  libs/utils/src/generation.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  s3_scrubber/Cargo.toml
  s3_scrubber/src/checks.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/metadata_stream.rs
  s3_scrubber/src/scan_metadata.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/utils.py
  test_runner/regress/test_pageserver_generations.py
Labels: t/feature, c/storage/pageserver

#5711 pageserver: add `Gate` as a partner to CancellationToken for safe shutdown of `Tenant` & `Timeline`
  libs/postgres_backend/src/lib.rs
  libs/utils/src/sync.rs
  libs/utils/src/sync/gate.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
  test_runner/regress/test_pageserver_restarts_under_workload.py
Labels: c/storage/pageserver, a/tech_debt

#5765 Layer flush minor speedup
  pageserver/src/tenant.rs
  pageserver/src/tenant/disk_btree_test_data.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
Labels: a/performance, run-benchmarks

#5367 pageserver: add `InProgress` tenant map state, use a sync lock for the map
  libs/utils/src/lib.rs
  libs/utils/src/timeout.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_neon_cli.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
Labels: t/feature, c/storage/pageserver

#5797 pageserver: start refactoring into TenantManager
  pageserver/src/bin/pageserver.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5803 pageserver: avoid converting an error to anyhow::Error
  pageserver/src/pgdatadir_mapping.rs
Labels: c/storage/pageserver, a/tech_debt

#5814 pageserver: move deletion failpoint inside backoff
  pageserver/src/deletion_queue/deleter.rs
Labels: c/storage/pageserver, a/tech_debt

#5693 extend test_change_pageserver for failure case, rework changing pageserver
  compute_tools/src/compute.rs
  pgxn/neon/libpagestore.c
  test_runner/regress/test_change_pageserver.py
Labels: c/PostgreSQL, a/test

#5793 pageserver: use `Gate` for stronger safety check in `SlotGuard`
  libs/utils/src/sync/gate.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5833 pageserver: refined Timeline shutdown
  libs/utils/src/seqwait.rs
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
Labels: c/storage/pageserver, a/tech_debt

#5846 pageserver: error type for collect_keyspace
  pageserver/src/http/routes.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/timeline/eviction_task.rs
Labels: c/storage/pageserver, a/tech_debt

#5760 neon_local: use remote storage by default, add `cargo neon tenant migrate`
  control_plane/src/attachment_service.rs
  control_plane/src/bin/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/lib.rs
  control_plane/src/pageserver.rs
  control_plane/src/tenant_migration.rs
  test_runner/fixtures/neon_fixtures.py
Labels: t/feature, c/storage/pageserver

#5819 pageserver: make TenantsMap shard-aware
  Cargo.lock
  control_plane/src/pageserver.rs
  libs/pageserver_api/Cargo.toml
  libs/pageserver_api/src/key.rs
  libs/pageserver_api/src/lib.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/http/routes.rs
  pageserver/src/repository.rs
  pageserver/src/tenant/mgr.rs
Labels: t/feature, c/storage/pageserver

#5877 pageserver: shut down idle walredo processes
  pageserver/src/tenant.rs
  pageserver/src/tenant/tasks.rs
  pageserver/src/walredo.rs
Labels: c/storage/pageserver, a/tech_debt

#5928 pageserver: add shard indices to layer metadata
  libs/pageserver_api/src/shard.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/init.rs
  pageserver/src/tenant/upload_queue.rs
Labels: t/feature, c/storage/pageserver

#5941 pageserver: fix race between deletion completion and incoming requests
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_tenant_delete.py
Labels: t/bug, c/storage/pageserver

#5960 pageserver: remove redundant serialization helpers on DeletionList
  pageserver/src/deletion_queue.rs
Labels: c/storage/pageserver, a/tech_debt

#5957 pageserver: refactor TenantId to TenantShardId in Tenant & Timeline
  control_plane/src/bin/attachment_service.rs
  libs/pageserver_api/src/control_api.rs
  libs/pageserver_api/src/shard.rs
  pageserver/benches/bench_layer_map.rs
  pageserver/src/config.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/control_plane_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/metadata.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer_desc.rs
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  pageserver/src/tenant/timeline/uninit.rs
  pageserver/src/tenant/timeline/walreceiver.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  pageserver/src/walredo.rs
Labels: t/feature, c/storage/pageserver

#5981 tests: add a log allow list entry in `test_timeline_deletion_with_files_stuck_in_upload_queue`
  test_runner/regress/test_remote_storage.py
Labels: a/test, a/tech_debt

#5860 pageserver: add `flush_ms` and document `/location_config` API
  control_plane/src/pageserver.rs
  control_plane/src/tenant_migration.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
Labels: t/feature, c/storage/pageserver

#5975 Update timescaledb to 2.13.0
  Dockerfile.compute-node
Labels: /release-notes
