Repository neondatabase/neon, pull requests merged in 2023-05, with the labels that each got.

#4151 document current tenant attach API semantics
  pageserver/src/http/openapi_spec.yml
Labels: c/storage/pageserver

#4180 eviction_task: tracing::instrument the imitate-access calls
  pageserver/src/tenant/timeline/eviction_task.rs
Labels: c/storage/pageserver, a/observability

#4168 replace has_in_progress_downloads with new attachment_status field
  libs/pageserver_api/src/models.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver

#4229 Fix Allure reports for different benchmark jobs
  .github/actions/run-python-test-set/action.yml
  scripts/pr-comment-test-report.js
Labels: run-benchmarks

#3673 Pass set of wanted image layers from GC to compaction
  pageserver/src/keyspace.rs
  pageserver/src/tenant/timeline.rs
  test_runner/performance/test_gc_feedback.py
Labels: run-benchmarks

#4292 Allow for higher s3 concurrency
  Cargo.lock
  libs/remote_storage/Cargo.toml
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/s3_bucket.rs
Labels: /manual_release_instructions
