Repository neondatabase/neon, pull requests merged in 2023-10, with the labels that each got.

#5438 Update pg_jsonschema & pg_grapgql extensions
  Dockerfile.compute-node
Labels: /release-notes

#5439 pageserver: prefer 503 to 500 for transient unavailability
  libs/utils/src/http/error.rs
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_timeline_delete.py
Labels: c/storage/pageserver, a/tech_debt

#5470 pageserver: fix loading control plane JWT token
  libs/utils/src/logging.rs
  pageserver/src/config.rs
Labels: t/bug, c/storage/pageserver

#5299 pageserver: location configuration API, attachment modes, secondary locations
  libs/pageserver_api/src/models.rs
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline.rs
Labels: t/feature, c/storage/pageserver

#5457 tests: stabilize + extend deletion queue recovery test
  pageserver/src/control_plane_client.rs
  pageserver/src/deletion_queue/validator.rs
  pageserver/src/metrics.rs
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/test

#5476 swagger: add a 503 definition to each endpoint
  pageserver/src/http/openapi_spec.yml
Labels: c/storage/pageserver, a/tech_debt

#5453 pageserver: adjust timeline deletion for generations
  pageserver/src/tenant/remote_timeline_client.rs
Labels: c/storage/pageserver, a/tech_debt

#5469 pageserver: implement emergency mode for operating without control plane
  pageserver/src/config.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_pageserver_generations.py
Labels: t/feature, c/storage/pageserver

#5503 pageserver: cancellation handling in writes to postgres client socket
  libs/postgres_backend/src/lib.rs
  pageserver/src/page_service.rs
  test_runner/regress/test_pageserver_restarts_under_workload.py
  test_runner/regress/test_tenant_detach.py
Labels: t/bug, c/storage/pageserver

#5495 tests: fix a race in test_deletion_queue_recovery on loaded nodes
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, c/storage/pageserver, a/test

#5437 Update plpgsql_check extension to 2.5.3
  Dockerfile.compute-node
Labels: /release-notes

#5452 pageserver: flush deletion queue on detach
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5525 Update pgvector to 0.5.1
  Dockerfile.compute-node
Labels: /release-notes

#5529 pageserver: clean up `mgr.rs` types that needn't be public
  pageserver/src/http/routes.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5530 remote_storage: log detail errors in delete_objects
  libs/remote_storage/src/s3_bucket.rs
Labels: c/storage/pageserver, a/tech_debt

#5534 pageserver: use a backoff::retry in Deleter
  pageserver/src/deletion_queue/deleter.rs
Labels: c/storage/pageserver, a/tech_debt

#5538 pageserver: fix eviction across generations
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/upload_queue.rs
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, c/storage/pageserver

#5564 pageserver: measure startup duration spent fetching remote indices
  pageserver/src/bin/pageserver.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  test_runner/regress/test_pageserver_restart.py
Labels: t/feature, c/storage/pageserver

#5579 tests: fix test_eviction_across_generations trying to evict temp files
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, c/storage/pageserver

#5504 pageserver: clean up page service Result handling for shutdown/disconnect
  libs/postgres_backend/src/lib.rs
  libs/pq_proto/src/lib.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/page_service.rs
  test_runner/regress/test_pageserver_restarts_under_workload.py
  test_runner/regress/test_tenant_detach.py
Labels: c/storage/pageserver, a/tech_debt

#5605 Fix neon_extra_build.yml
  .github/workflows/neon_extra_builds.yml
  Makefile
Labels: run-extra-build-stats, run-extra-build-macos

#5601 pageserver: apply timeout when waiting for tenant loads
  pageserver/src/bin/pageserver.rs
Labels: t/bug, c/storage/pageserver

#5560 walredo: fix EGAGAIN/"os error 11" false page reconstruction failures
  pageserver/src/tenant.rs
  pageserver/src/walredo.rs
  test_runner/fixtures/neon_fixtures.py
Labels: c/storage/pageserver

#5603 pageserver: do config writes in a spawn_blocking
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#5607 pageserver: parallel load of configs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5632 pageserver: forward compat: be tolerant of deletion marker in `timelines/`
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: c/storage/pageserver, a/tech_debt

#5626 attachment_service: graceful SIGQUIT
  control_plane/src/bin/attachment_service.rs
Labels: a/test, a/tech_debt

#5639 pageserver: schedule frozen layer uploads inside the layers lock
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_remote_storage.py
Labels: t/bug, c/storage/pageserver

#5650 tests: de-flake test_eviction_across_generations
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, a/test

#5616 Switch to querying new tests results DB
  .github/actions/allure-report-generate/action.yml
  .github/workflows/build_and_test.yml
  scripts/benchmark_durations.py
  scripts/flaky_tests.py
Labels: run-benchmarks

#5658 pageserver: suppress some of the most common spurious warnings
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
  storage_broker/src/lib.rs
Labels: c/storage/pageserver, a/tech_debt

#5644 Fix test instructions readme
  test_runner/performance/README.md
Labels: a/internal_devx

#5669 pageserver: quieten "Failed to get info about AUX files"
  pageserver/src/pgdatadir_mapping.rs
Labels: c/storage/pageserver, a/tech_debt

#5670 pageserver: suppress compaction/gc errors while stopping
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#5672 pageserver: exponential backoff on compaction/GC failures
  pageserver/src/tenant/tasks.rs
  test_runner/fixtures/neon_fixtures.py
Labels: t/bug, c/storage/pageserver

#5580 pageserver: always load remote metadata (no more `spawn_load`)
  libs/pageserver_api/src/models.rs
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/src/simulate_failures.rs
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/timeline/delete.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_branching.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_threshold_based_eviction.py
  test_runner/regress/test_timeline_delete.py
Labels: c/storage/pageserver, a/tech_debt, forward compatibility breakage

#5673 pageserver: fix the second "AUX files" warning
  pageserver/src/pgdatadir_mapping.rs
Labels: c/storage/pageserver, a/tech_debt

#5409 scrubber: add separate find/purge garbage commands
  s3_scrubber/README.md
  s3_scrubber/src/checks.rs
  s3_scrubber/src/cloud_admin_api.rs
  s3_scrubber/src/delete_batch_producer.rs
  s3_scrubber/src/delete_batch_producer/tenant_batch.rs
  s3_scrubber/src/delete_batch_producer/timeline_batch.rs
  s3_scrubber/src/garbage.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/metadata_stream.rs
  s3_scrubber/src/s3_deletion.rs
  s3_scrubber/src/scan_metadata.rs
Labels: t/feature, c/storage/pageserver

#5682 tests: revise perf test that interfered with local disk state
  test_runner/performance/test_bulk_insert.py
Labels: t/bug, a/test, run-benchmarks

#5701 pageserver: cleaner shutdown in timeline delete
  pageserver/src/tenant/timeline/delete.rs
Labels: c/storage/pageserver, a/tech_debt

#5712 pageserver: fix error logging on stray timeline files
  pageserver/src/tenant/delete.rs
Labels: t/bug, c/storage/pageserver

#5713 tests: fix missing comma in test_timeline_deletion_with_files_stuck_…
  test_runner/regress/test_remote_storage.py
Labels: a/test, a/tech_debt

#5724 pageserver: downgrade slow task warnings from warn to info
  pageserver/src/tenant/tasks.rs
Labels: c/storage/pageserver, a/tech_debt

#5674 tests: minor improvements
  control_plane/src/bin/attachment_service.rs
  test_runner/fixtures/pageserver/utils.py
Labels: c/storage/pageserver, a/test
