Repository neondatabase/neon, pull requests merged in 2023-12, with the labels that each got.

#5983 Speed up rel extend
  pageserver/src/walingest.rs
Labels: a/performance, run-benchmarks

#5984 Use TEST_OUTPUT envvar in pageserver
  pageserver/src/config.rs
Labels: c/storage/pageserver, a/test, a/benchmark

#6040 pageserver: remove redundant unsafe_create_dir_all
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#6014 pageserver: add a /reset API for tenants
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_tenant_detach.py
Labels: t/feature, c/storage/pageserver

#6039 pageserver: logging tweaks
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#5449 tests: update for tenant generations
  control_plane/src/bin/attachment_service.rs
  libs/pageserver_api/src/models.rs
  libs/remote_storage/src/local_fs.rs
  pageserver/src/deletion_queue/list_writer.rs
  scripts/export_import_between_pageservers.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/fixtures/pageserver/types.py
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_auth.py
  test_runner/regress/test_branching.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_change_pageserver.py
  test_runner/regress/test_duplicate_layers.py
  test_runner/regress/test_import.py
  test_runner/regress/test_layers_from_future.py
  test_runner/regress/test_neon_cli.py
  test_runner/regress/test_pageserver_api.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_timeline_delete.py
  test_runner/regress/test_wal_acceptor.py
Labels: c/storage/pageserver, a/test

#6064 tests: use tenant_create() helper in test_bulk_insert
  test_runner/performance/test_bulk_insert.py
Labels: a/test, a/tech_debt, run-benchmarks

#6074 tests: allow-lists for occasional failures
  test_runner/regress/test_gc_cutoff.py
  test_runner/regress/test_tenant_conf.py
Labels: a/test, a/tech_debt

#6059 pageserver: further refactoring from TenantId to TenantShardId
  control_plane/src/bin/neon_local.rs
  control_plane/src/tenant_migration.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/page_cache.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/walreceiver.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
Labels: t/feature, c/storage/pageserver

#6106 fix: accidential return Ok
  pageserver/src/consumption_metrics.rs
Labels: t/bug, c/storage/pageserver

#6098 pageserver: tweaks to slow/hung task logging
  libs/utils/src/sync/gate.rs
  pageserver/src/task_mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#6099 swagger: remove 'format: hex' from tenant IDs
  pageserver/src/http/openapi_spec.yml
Labels: c/storage/pageserver, a/tech_debt

#6079 scrubber: handle initdb files, fix an issue with prefixes
  s3_scrubber/src/checks.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/scan_metadata.rs
Labels: t/bug, c/storage/scrubber

#6113 tests: make test_bulk_insert recreate tenant in same generation
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_bulk_insert.py
Labels: a/test, a/tech_debt

#6139 pageserver: improved handling of concurrent timeline creations on the same ID
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/uninit.rs
  pageserver/src/walingest.rs
  test_runner/regress/test_branching.py
Labels: t/bug, c/storage/pageserver

#6119 s3_scrubber: basic support for sharding
  Cargo.lock
  s3_scrubber/Cargo.toml
  s3_scrubber/src/checks.rs
  s3_scrubber/src/garbage.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/metadata_stream.rs
  s3_scrubber/src/scan_metadata.rs
Labels: t/feature, c/storage/scrubber

#6097 pageserver: basic cancel/timeout for remote storage operations
  libs/utils/src/timeout.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/storage_layer/layer.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: t/bug, c/storage/pageserver

#6112 pageserver: prioritize activation of tenants with client requests
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/logical_size.rs
  test_runner/regress/test_timeline_size.py
Labels: t/feature, c/storage/pageserver

#6082 CI: build build-tools image
  .github/workflows/build_and_push_docker_image.yml
  .github/workflows/build_and_test.yml
  .github/workflows/update_build_tools_image.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.buildtools
  Dockerfile.compute-node
  Dockerfile.compute-tools
Labels: a/ci

#6157 pageserver: on-demand activation cleanups
  pageserver/src/tenant.rs
Labels: t/bug, c/storage/pageserver

#6164 tests: update python dependencies
  README.md
  poetry.lock
Labels: a/test, a/tech_debt

#5648 RFC: Per-Tenant GetPage@LSN Throttling
  docs/rfcs/029-getpage-throttling.md
Labels: t/tech_design_rfc

#6181 pageserver: downgrade 'connection reset' WAL errors
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
Labels: c/storage/pageserver, a/tech_debt

#6186 pageserver: fixes + test updates for sharding
  libs/pageserver_api/src/shard.rs
  pageserver/src/tenant/mgr.rs
  s3_scrubber/src/checks.rs
  s3_scrubber/src/scan_metadata.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/types.py
  test_runner/performance/test_bulk_insert.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_change_pageserver.py
  test_runner/regress/test_layers_from_future.py
  test_runner/regress/test_pageserver_api.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_remote_storage.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#6201 remote_storage: don't count 404s as errors
  libs/remote_storage/src/s3_bucket.rs
  test_runner/regress/test_timeline_delete.py
Labels: c/storage/pageserver, a/tech_debt

#6195 Build dockerfile from neon repo
  .github/workflows/build_and_push_docker_image.yml
  .github/workflows/build_and_test.yml
  .github/workflows/update_build_tools_image.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.buildtools
  Dockerfile.compute-node
  Dockerfile.compute-tools
Labels: a/ci

#6190 pageserver: expedite tenant activation on delete
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_timeline_size.py
Labels: t/feature, c/storage/pageserver

#6232 Pg stat statements reset for neon superuser
  Dockerfile.compute-node
Labels: /release-notes
