Repository neondatabase/neon, pull requests merged in 2024-04, with the labels that each got.

#7097 tests: clean up compat test workarounds
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
Labels: a/test, a/tech_debt

#7114 controller: add `storcon-cli`
  Cargo.lock
  Cargo.toml
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/storcon_cli/Cargo.toml
  control_plane/storcon_cli/src/main.rs
  libs/pageserver_api/src/controller_api.rs
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/controller

#7295 pageserver: even more debug for test_secondary_downloads
  pageserver/src/tenant/secondary/downloader.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/tech_debt

#7250 pageserver: on-demand activation of tenant on GET tenant status
  pageserver/src/http/routes.rs
  test_runner/fixtures/pageserver/http.py
Labels: c/storage/pageserver, a/tech_debt

#6530 Upload partial segments
  libs/remote_storage/src/lib.rs
  safekeeper/Cargo.toml
  safekeeper/src/bin/safekeeper.rs
  safekeeper/src/control_file.rs
  safekeeper/src/control_file_upgrade.rs
  safekeeper/src/lib.rs
  safekeeper/src/metrics.rs
  safekeeper/src/safekeeper.rs
  safekeeper/src/state.rs
  safekeeper/src/timeline.rs
  safekeeper/src/wal_backup.rs
  safekeeper/src/wal_backup_partial.rs
  safekeeper/tests/walproposer_sim/safekeeper.rs
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_wal_acceptor_async.py
Labels: forward compatibility breakage

#7307 storage controller: grant 'admin' access to all APIs
  control_plane/attachment_service/src/http.rs
  test_runner/regress/test_sharding_service.py
Labels: a/tech_debt, c/storage/controller

#7315 pageserver: timeout on deletion queue flush in timeline deletion
  pageserver/src/tenant/remote_timeline_client.rs
Labels: c/storage/pageserver, a/tech_debt

#7313 pageserver: update mgmt_api to use TenantShardId
  pageserver/client/src/mgmt_api.rs
  pageserver/pagebench/src/cmd/basebackup.rs
  pageserver/pagebench/src/cmd/getpage_latest_lsn.rs
  pageserver/pagebench/src/cmd/trigger_initial_size_calculation.rs
Labels: c/storage/pageserver, a/tech_debt

#7314 storage controller: fix repeated location_conf returning no shards
  control_plane/attachment_service/src/service.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_sharding_service.py
Labels: t/bug, c/storage/controller

#7321 tests: extend log allow list in test_storcon_cli
  test_runner/regress/test_sharding_service.py
Labels: a/test, c/storage/controller

#7326 Clean up 'attachment service' names to storage controller
  .dockerignore
  CODEOWNERS
  Cargo.lock
  Cargo.toml
  control_plane/storcon_cli/src/main.rs
  diesel.toml
  docs/sourcetree.md
  libs/pageserver_api/src/controller_api.rs
  storage_controller/Cargo.toml
  storage_controller/migrations/.keep
  storage_controller/migrations/00000000000000_diesel_initial_setup/down.sql
  storage_controller/migrations/00000000000000_diesel_initial_setup/up.sql
  storage_controller/migrations/2024-01-07-211257_create_tenant_shards/down.sql
  storage_controller/migrations/2024-01-07-211257_create_tenant_shards/up.sql
  storage_controller/migrations/2024-01-07-212945_create_nodes/down.sql
  storage_controller/migrations/2024-01-07-212945_create_nodes/up.sql
  storage_controller/migrations/2024-02-29-094122_generations_null/down.sql
  storage_controller/migrations/2024-02-29-094122_generations_null/up.sql
  storage_controller/migrations/2024-03-18-184429_rename_policy/down.sql
  storage_controller/migrations/2024-03-18-184429_rename_policy/up.sql
  storage_controller/migrations/2024-03-27-133204_tenant_policies/down.sql
  storage_controller/migrations/2024-03-27-133204_tenant_policies/up.sql
  storage_controller/src/auth.rs
  storage_controller/src/compute_hook.rs
  storage_controller/src/heartbeater.rs
  storage_controller/src/http.rs
  storage_controller/src/id_lock_map.rs
  storage_controller/src/lib.rs
  storage_controller/src/main.rs
  storage_controller/src/metrics.rs
  storage_controller/src/node.rs
  storage_controller/src/pageserver_client.rs
  storage_controller/src/persistence.rs
  storage_controller/src/persistence/split_state.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/schema.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_state.rs
  test_runner/regress/test_storage_controller.py
Labels: a/tech_debt, c/storage/controller

#7329 storage controller: rename TenantState to TenantShard
  storage_controller/src/lib.rs
  storage_controller/src/persistence.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
Labels: c/storage/pageserver, a/tech_debt

#7325 tests: improve stability of `test_deletion_queue_recovery`
  pageserver/src/control_plane_client.rs
  pageserver/src/tenant/remote_timeline_client.rs
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#7319 pageserver: apply shard filtering to blocks ingested during initdb
  pageserver/src/import_datadir.rs
  test_runner/fixtures/workload.py
  test_runner/regress/test_sharding.py
Labels: c/storage/pageserver, a/tech_debt

#7088 control_plane: revise compute_hook locking (don't serialise all calls)
  storage_controller/src/compute_hook.rs
Labels: t/feature, c/storage/controller

#7335 tests: further stabilize test_deletion_queue_recovery
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_storage_controller.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#7359 compute hook: use shared client with explicit timeout
  storage_controller/src/compute_hook.rs
Labels: a/tech_debt, c/storage/controller

#7330 pageserver: improve readability of shard.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  pageserver/src/walingest.rs
  storage_controller/src/service.rs
Labels: c/storage/pageserver, a/tech_debt

#7384 pageserver: return ACCEPTED when deletion already in flight
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_tenant_delete.py
Labels: c/storage/pageserver, a/tech_debt

#7395 storage_controller: suppress misleading log
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
Labels: a/tech_debt, c/storage/controller

#7396 pageserver: fix secondary download scheduling
  pageserver/src/metrics.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/secondary/downloader.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: t/bug, c/storage/pageserver

#7392 Add a docs page for storage controller
  docs/storage_controller.md
Labels: a/documentation, c/storage/controller

#7432 storcon_cli: `tenant-warmup` command
  control_plane/storcon_cli/src/main.rs
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#7454 pageserver: fix unlogged relations with sharding
  libs/pageserver_api/src/shard.rs
  pageserver/src/basebackup.rs
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage/pageserver

#7479 storage_controller: wait for db on startup
  storage_controller/src/main.rs
  storage_controller/src/persistence.rs
Labels: t/feature, c/storage/controller

#7431 remote_storage: fix prefix handling in remote storage & clean up
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/src/simulate_failures.rs
  libs/remote_storage/tests/common/tests.rs
  libs/remote_storage/tests/test_real_azure.rs
  libs/remote_storage/tests/test_real_s3.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  safekeeper/src/wal_backup.rs
Labels: t/bug, c/storage/pageserver

#7493 controller: limit Reconciler concurrency
  storage_controller/src/main.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
Labels: t/bug, c/storage/controller

#7399 neon_local: add "tenant import"
  control_plane/src/bin/neon_local.rs
  control_plane/src/storage_controller.rs
  libs/pageserver_api/src/models.rs
  libs/utils/src/generation.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  storage_controller/src/http.rs
  storage_controller/src/pageserver_client.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_tenant_detach.py
Labels: t/feature, c/storage/controller

#7495 storage controller: send startup compute notifications in background
  storage_controller/src/compute_hook.rs
  storage_controller/src/service.rs
Labels: t/bug, c/storage/controller

#7444 s3_scrubber: add `tenant-snapshot`
  Cargo.lock
  s3_scrubber/Cargo.toml
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/metadata_stream.rs
  s3_scrubber/src/tenant_snapshot.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/remote_storage.py
  test_runner/fixtures/types.py
  test_runner/regress/test_s3_scrubber.py
Labels: t/feature, c/storage

#7498 pagserver: use vectored read path in benchmarks
  .github/workflows/build_and_test.yml
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
Labels: run-benchmarks

#7467 chore(pageserver): improve in-memory layer vectored get
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
Labels: run-benchmarks

#6778 pageserver: shard-aware keyspace partitioning
  libs/pageserver_api/src/keyspace.rs
  libs/pageserver_api/src/shard.rs
  pageserver/compaction/src/compact_tiered.rs
  pageserver/compaction/src/helpers.rs
  pageserver/compaction/src/interface.rs
  pageserver/compaction/src/simulator.rs
  pageserver/src/basebackup.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  test_runner/regress/test_compaction.py
Labels: t/feature, c/storage/pageserver

#7550 pageserver: remove workarounds from #7454
  libs/pageserver_api/src/shard.rs
  pageserver/src/basebackup.rs
Labels: c/storage/pageserver, a/tech_debt

#7553 pageserver: reduce runtime of init_tenant_mgr
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#7549 tests: tweak log allow list in test_sharding_split_failures
  test_runner/regress/test_sharding.py
Labels: a/test, a/tech_debt, c/storage/controller
