Repository neondatabase/neon, pull requests merged in 2024-06, with the labels that each got.

#7925 s3_scrubber: add `pageserver-physical-gc`
  Cargo.lock
  s3_scrubber/Cargo.toml
  s3_scrubber/src/checks.rs
  s3_scrubber/src/lib.rs
  s3_scrubber/src/main.rs
  s3_scrubber/src/pageserver_physical_gc.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_s3_scrubber.py
Labels: t/feature, c/storage/scrubber

#7938 storcon_cli: add 'drop' and eviction interval utilities
  Cargo.lock
  control_plane/storcon_cli/Cargo.toml
  control_plane/storcon_cli/src/main.rs
Labels: t/feature, c/storage/controller

#7928 pageserver: include heatmap in tenant deletion
  pageserver/src/tenant/delete.rs
  test_runner/regress/test_tenant_delete.py
Labels: t/bug, c/storage/pageserver

#7954 upgrade pgvector from 0.7.0 to 0.7.1
  Dockerfile.compute-node
Labels: a/performance, /release-notes

#7957 pageserver/controller: enable tenant deletion without attachment
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_tenant_delete.py
Labels: t/bug, c/storage/pageserver, c/storage/controller

#7956 Include openssl and ICU statically linked
  .github/workflows/build_and_test.yml
  Dockerfile
  Dockerfile.build-tools
  Makefile
Labels: run-extra-build-macos

#7867 test(pageserver): quantify compaction outcome
  pageserver/src/http/routes.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/analysis.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/performance/test_gc_feedback.py
Labels: run-benchmarks

#8052 pageserver: refine shutdown handling in secondary download
  pageserver/src/tenant/secondary/downloader.rs
Labels: c/storage/pageserver, a/tech_debt

#8049 storage controller: always wait for tenant detach before delete
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#8051 pageserver: improved synthetic size & find_gc_cutoff error handling
  pageserver/src/consumption_metrics.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/pageserver/allowed_errors.py
  test_runner/regress/test_tenant_size.py
Labels: c/storage/pageserver, a/tech_debt

#8048 chore: update to rust 1.79
  Cargo.toml
  Dockerfile.build-tools
  libs/tracing-utils/Cargo.toml
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  proxy/src/rate_limiter/limit_algorithm/aimd.rs
  proxy/src/scram/messages.rs
  rust-toolchain.toml
Labels: run-extra-build-macos

#8074 [v2] Include openssl and ICU statically linked
  .github/workflows/build_and_test.yml
  Dockerfile
  Dockerfile.build-tools
  Makefile
Labels: run-extra-build-macos

#8110 tests: make Endpoint.stop() thread safe (occasional flakes in `test_multi_attach`)
  test_runner/fixtures/neon_fixtures.py
Labels: a/test, a/tech_debt

#8112 tests: use semaphore instead of lock for Endpoint.running
  test_runner/fixtures/neon_fixtures.py
Labels: a/test, a/tech_debt

#8073 CI: miscellaneous cleanups
  .github/actions/run-python-test-set/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/release.yml
Labels: run-benchmarks

#8122 pageserver: remove unused load/ignore APIs
  libs/pageserver_api/src/models.rs
  pageserver/src/config.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_tenant_detach.py
Labels: c/storage/pageserver, a/tech_debt

#8079 Allow longer timeout for starting pageserver, safe keeper and storage controller in test cases to make test cases less flaky
  control_plane/src/background_process.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/broker.rs
  control_plane/src/pageserver.rs
  control_plane/src/safekeeper.rs
  control_plane/src/storage_controller.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
  test_runner/performance/pageserver/util.py
Labels: run-benchmarks

#8082 pageserver: always detach before deleting
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/pageserver/utils.py
  test_runner/performance/test_bulk_insert.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_s3_restore.py
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenant_size.py
  test_runner/regress/test_timeline_detach_ancestor.py
  test_runner/regress/test_timeline_size.py
Labels: c/storage/pageserver, a/tech_debt

#8123 tests: allow-list neon_local endpoint errors from storage controller
  storage_controller/src/compute_hook.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: c/storage/pageserver, a/tech_debt

#8091 pageserver: remove code that resumes tenant deletions after restarts
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline/delete.rs
Labels: c/storage/pageserver, a/tech_debt

#8137 pageserver: add more info-level logging in shard splits
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#8136 tests: fix a flake in test_sharding_split_compaction
  test_runner/regress/test_sharding.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#8127 storcon_cli: remove old tenant-scatter command
  control_plane/storcon_cli/src/main.rs
Labels: a/tech_debt, c/storage/controller

#8144 tests: accomodate some messages that can fail tests
  test_runner/performance/test_storage_controller_scale.py
  test_runner/regress/test_tenant_delete.py
Labels: a/test, a/tech_debt

#8134 pageserver: remove attach/detach apis
  libs/pageserver_api/src/models.rs
  libs/utils/src/http/json.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_timeline_size.py
  test_runner/regress/test_walredo_not_left_behind_on_detach.py
Labels: c/storage/pageserver, a/tech_debt

#8103 bottom-most-compaction: use in test_gc_feedback + fix bugs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/performance/test_gc_feedback.py
Labels: run-benchmarks

#7947 pageserver: remove legacy tenant config code, clean up redundant generation none/broken usages
  docker-compose/README.md
  docker-compose/compute_wrapper/shell/compute.sh
  libs/pageserver_api/src/models.rs
  libs/utils/src/generation.rs
  pageserver/src/config.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/storage_layer/layer.rs
Labels: c/storage/pageserver, a/tech_debt

#8174 test: use aux file v2 policy in benchmarks
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_logical_replication.py
Labels: run-benchmarks

#8150 fix: shutdown does not kill walredo processes
  pageserver/benches/bench_walredo.rs
  pageserver/src/tenant.rs
  pageserver/src/walredo.rs
Labels: c/storage/pageserver

#8198 pageserver: drop out of secondary download if iteration time has passed
  pageserver/src/tenant/secondary/downloader.rs
Labels: c/storage/pageserver, a/tech_debt

#8197 storage controller: fix heatmaps getting disabled during shard split
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage/controller
