Repository neondatabase/neon, pull requests merged in 2024-02, with the labels that each got.

#6543 pageserver: lift ancestor timeline logic from read path
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver

#6544 pageserver_api: remove overlaps from KeySpace
  libs/pageserver_api/src/keyspace.rs
Labels: c/storage/pageserver

#6538 Makefile: set PQ_LIB_DIR to avoid linkage with system libpq
  Makefile
Labels: run-extra-build-macos

#6566 pageserver: fix a syntax error in swagger
  pageserver/src/http/openapi_spec.yml
Labels: t/bug, c/storage/pageserver

#6539 check-macos-build: switch job to macos-14 (M1)
  .github/actionlint.yml
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-macos

#6564 pageserver: more permissive activation timeout when testing
  pageserver/src/http/routes.rs
Labels: c/storage/pageserver, a/test, a/tech_debt

#6567 pageserver: avoid calculating/sending logical sizes on shard !=0
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/logical_size.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
Labels: t/feature, c/storage/pageserver

#6585 storage controller: use AWS Secrets Manager for database URL, etc
  Cargo.lock
  Cargo.toml
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/main.rs
  libs/utils/src/auth.rs
  workspace_hack/Cargo.toml
Labels: a/tech_debt, c/storage

#6587 tests: remove test_gc_cutoff
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_gc_cutoff.py
Labels: t/bug, a/test

#6471 control_plane: implement HTTP compute hook for attachment service
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/local_env.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/pageserver

#1997 Console split RFC
  docs/rfcs/017-console-split.md
Labels: t/tech_design_rfc

#6590 Removed Uploading of perf result to git repo 'zenith-perf-data'
  scripts/generate_and_push_perf_report.sh
  scripts/generate_perf_report_page.py
  scripts/git-upload
Labels: run-benchmarks

#6553 control_plane: fix tenant GET, clean up endpoints
  control_plane/attachment_service/src/http.rs
  test_runner/regress/test_sharding_service.py
Labels: a/tech_debt, c/storage

#6637 storage controller: embed database migrations in binary
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/main.rs
Labels: t/feature, c/storage

#6570 Do not suspend compute if there is an active logical replication subscription.
  compute_tools/src/monitor.rs
Labels: a/documentation, /release-notes

#6651 control_plane/attachment_service: take public key as value
  control_plane/attachment_service/src/main.rs
  control_plane/src/attachment_service.rs
Labels: a/tech_debt, c/storage

#6654 test_lazy_startup: fix statement_timeout setting
  test_runner/performance/test_lazy_startup.py
Labels: run-benchmarks

#6622 control_plane/attachment_service: database connection pool
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/service.rs
  workspace_hack/Cargo.toml
Labels: a/tech_debt, c/storage

#6659 storage controller: use PUT instead of POST
  control_plane/attachment_service/src/compute_hook.rs
  test_runner/regress/test_sharding_service.py
Labels: t/bug, c/storage

#6668 control_plane: avoid feedback loop with /location_config if compute hook fails.
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/service.rs
Labels: a/tech_debt, c/storage

#6671 Update copyright notice, set it to current year
  NOTICE
Labels: a/documentation

#6379 pageserver: shard splitting
  Dockerfile
  control_plane/attachment_service/migrations/2024-01-07-211257_create_tenant_shards/up.sql
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/persistence/split_state.rs
  control_plane/attachment_service/src/schema.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver

#6658 storage controller: improved handling of node availability on restart
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/service.rs
  libs/utils/src/completion.rs
  pageserver/client/src/mgmt_api.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage

#6683 Update Rust to 1.76.0
  Dockerfile.buildtools
  compute_tools/src/pg_helpers.rs
  control_plane/src/background_process.rs
  rust-toolchain.toml
Labels: run-extra-build-macos

#6699 tests: deflake test_sharding_split_unsharded
  test_runner/regress/test_sharding.py
Labels: c/storage/pageserver, a/tech_debt

#6647 control_plane: follow up for embedded migrations
  Cargo.lock
  control_plane/Cargo.toml
  control_plane/src/attachment_service.rs
  workspace_hack/Cargo.toml
Labels: a/tech_debt, c/storage

#6702 control_plane: add debug APIs for force-dropping tenant/node
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  test_runner/regress/test_sharding_service.py
Labels: a/tech_debt, c/storage

#6698 tests: test_secondary_mode_eviction: avoid use of mocked statvfs
  test_runner/regress/test_disk_usage_eviction.py
Labels: a/test, a/tech_debt

#6751 Revert #6666 "tests: try to make restored-datadir comparison tests not flaky"
  test_runner/fixtures/neon_fixtures.py
Labels: a/test, a/tech_debt

#6742 pageserver: store aux files as deltas
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant.rs
  pageserver/src/walrecord.rs
  pageserver/src/walredo.rs
  pageserver/src/walredo/apply_neon.rs
Labels: t/bug, c/storage/pageserver

#6725 pageserver: shard splitting refinements (parent deletion, hard linking)
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver

#6690 libs: refactor ShardCount.0 to private
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/secondary.rs
Labels: c/storage/pageserver, a/tech_debt

#6709 storage controller: background reconcile, graceful shutdown, better logging
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  test_runner/regress/test_pageserver_generations.py
Labels: t/feature, c/storage

#6785 test_pageserver_max_throughput_getpage_at_latest_lsn: disable on CI
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
Labels: run-benchmarks

#6783 libs: add 'generations_api' auth scope
  libs/utils/src/auth.rs
  pageserver/src/auth.rs
  safekeeper/src/auth.rs
  test_runner/regress/test_auth.py
Labels: t/feature, c/storage/pageserver

#6776 pageserver: fix sharding emitting empty image layers during compaction
  compute_tools/src/config.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/tenant/timeline.rs
Labels: t/bug, c/storage/pageserver

#6789 pageserver: during shard split, wait for child to activate
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
Labels: t/bug, c/storage/pageserver

#6806 pageserver: remove heatmap file during tenant delete
  pageserver/src/tenant/delete.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: t/bug, c/storage/pageserver

#6633 control_plane/attachment_service: improve Scheduler
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
Labels: c/storage

#6814 storage controller: fix spurious reconciles after pageserver restarts
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/metrics.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  test_runner/fixtures/metrics.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage

#6820 storage controller: debug observability endpoints and self-test
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/attachment_service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/controller

#6827 storage controller: issue timeline create/delete calls concurrently
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/service.rs
  libs/pageserver_api/src/models.rs
Labels: t/feature, c/storage/controller

#6836 pageserver: fix treating all download errors as 'Other'
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: t/bug, c/storage/pageserver

#6828 tests: add a shutdown log noise case to test_location_conf_churn
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/tech_debt

#6576 pageserver: add vectored get implementation
  .github/workflows/build_and_test.yml
  Cargo.lock
  libs/pageserver_api/Cargo.toml
  libs/pageserver_api/src/keyspace.rs
  pageserver/src/basebackup.rs
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/layer_map.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer_desc.rs
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
Labels: c/storage/pageserver

#6823 storage controller: concurrency + deadlines during startup reconcile
  control_plane/attachment_service/src/service.rs
Labels: t/feature, c/storage/controller

#6852 pageserver: adjust checkpoint distance for sharded tenants
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/workload.py
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage/pageserver

#6856 tests: improve stability of tests using `wait_for_upload_queue_empty`
  test_runner/fixtures/pageserver/utils.py
Labels: t/bug, a/test

#6859 test_sharding_ingress: bigger data, skip in debug mode
  test_runner/regress/test_sharding.py
Labels: a/test, a/tech_debt

#6729 Fix multithreaded postmaster on macOS
  pgxn/neon/control_plane_connector.c
  pgxn/neon/extension_server.c
  pgxn/neon/neon_utils.c
  pgxn/neon/neon_utils.h
Labels: run-extra-build-macos

#6837 pageserver: don't warn on tempfiles in secondary location
  pageserver/src/tenant/secondary/downloader.rs
Labels: t/bug, c/storage/pageserver

#6800 storage controller: miscellaneous improvements
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_sharding_service.py
Labels: a/tech_debt, c/storage/controller

#6846 controller: improved handling of offline nodes
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/pageserver.rs
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/controller

#6855 storage controller: fix consistency check
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
Labels: t/bug, a/tech_debt, c/storage/controller

#6882 control_plane: fix a compilation error from racing PRs
  control_plane/attachment_service/src/service.rs
Labels: t/bug, c/storage/controller

#6883 pageserver: remove legacy attach/detach APIs from swagger
  pageserver/src/http/openapi_spec.yml
Labels: c/storage/pageserver, a/tech_debt

#6891 pageserver: only write out legacy tenant config if no generation
  pageserver/src/tenant.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_tenant_conf.py
Labels: c/storage/pageserver, a/tech_debt

#6906 externalize statistics on LFC cache usage
  pgxn/neon/Makefile
  pgxn/neon/neon--1.1--1.2.sql
  pgxn/neon/neon.control
  test_runner/regress/test_neon_extension.py
Labels: a/documentation, /release-notes

#6909 fixup(#6893): report_size() still used pageserver_created_persistent_* metrics
  test_runner/fixtures/compare_fixtures.py
Labels: run-benchmarks

#6816 Update README, include cleanup details
  README.md
Labels: a/documentation

#6927 refactor: move storage controller API structs into pageserver_api
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/controller_api.rs
  libs/pageserver_api/src/lib.rs
  libs/pageserver_api/src/upcall_api.rs
  pageserver/src/control_plane_client.rs
Labels: c/storage/pageserver, a/tech_debt, c/storage/controller

#6930 test: wait for storage controller readiness
  control_plane/src/attachment_service.rs
  test_runner/regress/test_sharding_service.py
Labels: run-benchmarks

#6780 pageserver: optimise disk io for vectored get
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/pagebench/src/cmd/basebackup.rs
  pageserver/pagebench/src/main.rs
  pageserver/pagebench/src/util/connstring.rs
  pageserver/src/basebackup.rs
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/block_io.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/pageserver/pagebench/test_large_slru_basebackup.py
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
  test_runner/performance/pageserver/util.py
Labels: run-benchmarks

#6947 English keyboard has "z" and "y" switched
  README.md
Labels: a/documentation

#6944 pageserver: accelerate tenant activation on HTTP API timeline read requests
  pageserver/src/http/routes.rs
Labels: t/bug, c/storage/pageserver

#6952 control_plane: storage controller secrets by env
  control_plane/attachment_service/src/main.rs
Labels: t/feature, c/storage/controller
