Repository neondatabase/neon, pull requests merged in 2024-05, with the labels that each got.

#7602 storage_controller: fix non-timeline passthrough GETs
  storage_controller/src/http.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#7544 pageserver: jitter secondary periods
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/secondary/scheduler.rs
Labels: c/storage/pageserver, a/tech_debt

#7598 Update rust to 1.78.0
  Dockerfile.build-tools
  compute_tools/src/spec.rs
  control_plane/src/local_env.rs
  libs/pageserver_api/src/shard.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/layer_map.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
  pageserver/src/virtual_file/owned_buffers_io/write.rs
  rust-toolchain.toml
Labels: run-extra-build-macos

#7583 storage controller: check warmth of secondary before doing proactive migration
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/routes.rs
  storage_controller/src/pageserver_client.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage/controller

#7603 pageserver: label tenant_slots metric by slot type
  pageserver/src/metrics.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_s3_restore.py
  test_runner/regress/test_tenant_delete.py
Labels: c/storage/pageserver, a/tech_debt

#7609 pageserver: include generation number in local layer paths
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/upload.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/storage_layer/filename.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/init.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/types.py
  test_runner/regress/test_duplicate_layers.py
  test_runner/regress/test_layer_eviction.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenants_with_remote_storage.py
  test_runner/regress/test_timeline_detach_ancestor.py
Labels: t/feature, c/storage/pageserver

#7646 compute_ctl: Fix unused variable on non-Linux
  compute_tools/src/bin/compute_ctl.rs
Labels: run-extra-build-macos

#7610 Expose LSN and replication delay as metrics
  vm-image-spec.yaml
Labels: c/storage/compute

#7640 pageserver: local layer path followups
  pageserver/benches/bench_layer_map.rs
  pageserver/ctl/src/index_part.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/list_writer.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/remote_timeline_client/index.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/heatmap.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer_desc.rs
  pageserver/src/tenant/storage_layer/layer_name.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/detach_ancestor.rs
  pageserver/src/tenant/timeline/init.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  pageserver/src/tenant/upload_queue.rs
  s3_scrubber/src/checks.rs
  s3_scrubber/src/tenant_snapshot.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/types.py
  test_runner/regress/test_layers_from_future.py
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/tech_debt

#7666 tests: adjust log allow list since reqwest upgrade
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/test, a/tech_debt, run-benchmarks

#7673 storage controller: fix handing of tenants with no timelines during scheduling optimization
  storage_controller/src/service.rs
  test_runner/performance/test_storage_controller_scale.py
Labels: t/bug, run-benchmarks, c/storage/controller

#7686 pageserver: don't call get_vectored with empty keyspace
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#7373 use own arm64 gha runners
  .config/nextest.toml
  .github/actionlint.yml
  .github/workflows/build-build-tools-image.yml
  .github/workflows/neon_extra_builds.yml
Labels: a/ci, run-extra-build-*

#7706 test(ancestor detach): verify with fullbackup
  test_runner/regress/test_timeline_detach_ancestor.py
Labels: run-extra-build-macos

#7722 pageserver: refuse to run without remote storage
  pageserver/src/bin/pageserver.rs
Labels: c/storage/pageserver, a/tech_debt

#7655 pageserver: improve API for invoking GC
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#7675 pageserver: use adaptive concurrency in secondary layer downloads
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/src/simulate_failures.rs
  pageserver/src/tenant/secondary/downloader.rs
Labels: c/storage/pageserver, a/tech_debt

#7660 pageserver: switch on new-style local layer paths
  pageserver/src/tenant/storage_layer/layer.rs
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/tech_debt

#7744 pageserver: skip waiting for logical size on shard >0
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/timeline.rs
Labels: t/bug, c/storage/pageserver

#7757 Update mold to 2.31
  Dockerfile.build-tools
Labels: run-extra-build-macos

#7740 CI(neon-extra-builds): Use small-arm64 runners instead of large-arm64
  .github/actionlint.yml
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-arm

#7752 pageserver: remove Option<> around remote storage, clean up metadata file refs
  pageserver/ctl/src/draw_timeline_dir.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer/tests.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/detach_ancestor.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/init.rs
  test_runner/regress/test_broken_timeline.py
Labels: c/storage/pageserver, a/tech_debt

#7242 Add performance regress `test_ondemand_download_churn.py`
  libs/pageserver_api/src/models.rs
  pageserver/pagebench/src/cmd/ondemand_download_churn.rs
  test_runner/performance/pageserver/pagebench/test_ondemand_download_churn.py
Labels: run-benchmarks

#7762 pageserver: refine tenant_id->shard lookup
  pageserver/src/bin/pageserver.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#7786 pageserver: fixes for layer path changes
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/storage_layer/layer.rs
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, c/storage/pageserver

#7792 storage controller: use SERIALIZABLE isolation level
  storage_controller/src/persistence.rs
Labels: t/bug, c/storage/controller

#7681 pageserver: implement auto-splitting
  control_plane/src/local_env.rs
  control_plane/src/storage_controller.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  storage_controller/src/main.rs
  storage_controller/src/pageserver_client.rs
  storage_controller/src/service.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/performance/test_sharding_autosplit.py
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver, run-benchmarks

#7793 pageserver: use the heatmap upload interval to set the secondary download interval
  pageserver/src/tenant/secondary/downloader.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/tech_debt

#7726 Upgrade of pgvector to 0.7.0
  .dockerignore
  Dockerfile.compute-node
  patches/pgvector.patch
  pgxn/neon/pagestore_smgr.c
Labels: a/documentation, /release-notes

#7696 CI: build multi-arch images
  .github/workflows/build_and_test.yml
  docker-compose/compute_wrapper/Dockerfile
  docker-compose/docker_compose_test.sh
Labels: run-e2e-tests-in-draft

#7836 safekeeper: use CancellationToken instead of watch channel
  safekeeper/src/recovery.rs
  safekeeper/src/timeline.rs
  safekeeper/src/timeline_manager.rs
  safekeeper/src/wal_backup_partial.rs
Labels: c/storage/safekeeper, a/tech_debt

#7829 tests: refine test_secondary_background_downloads
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#7844 tests: add a couple of allow lists for shutdown cases
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/test, a/tech_debt

#7848 pageserver: fix API-driven secondary downloads possibly colliding with background downloads
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/secondary/scheduler.rs
Labels: t/bug, c/storage/pageserver

#7856 tests: fix an allow list entry
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/test, a/tech_debt

#7531 pageserver: post-shard-split layer rewrites (2/2)
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/init.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver

#7866 pageserver: revert concurrent secondary downloads
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/src/simulate_failures.rs
  pageserver/src/tenant/secondary/downloader.rs
Labels: t/bug, c/storage/pageserver

#7907 pageserver: quieten some shutdown logs around logical size and flush
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/detach_ancestor.rs
  test_runner/regress/test_ondemand_download.py
Labels: c/storage/pageserver, a/tech_debt
