Repository neondatabase/neon, pull requests merged in 2024-12, with the labels that each got.

#9944 storcon: don't take any Service locks in /status and /ready
  storage_controller/src/http.rs
Labels: t/bug, c/storage/controller

#9958 storcon: use proper schedule context during node delete
  storage_controller/src/service.rs
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_controller.py
Labels: a/tech_debt, c/storage/controller

#9786 pageserver: only store SLRUs & aux files on shard zero
  libs/pageserver_api/src/key.rs
  libs/pageserver_api/src/shard.rs
  libs/wal_decoder/src/decoder.rs
  pageserver/src/import_datadir.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/timeline/import_pgdata/flow.rs
  pageserver/src/walingest.rs
Labels: t/feature, c/storage/pageserver

#9996 pageserver: more detailed logs when calling re-attach
  libs/pageserver_api/src/controller_api.rs
  pageserver/src/controller_upcall_client.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#9998 test_page_service_batching: fix non-numeric metrics
  test_runner/fixtures/benchmark_fixture.py
  test_runner/performance/pageserver/test_page_service_batching.py
Labels: run-benchmarks

#9952 tests: make storcon scale test AZ-aware
  test_runner/performance/test_storage_controller_scale.py
Labels: a/test, run-benchmarks, c/storage/controller

#10019 pageserver: fix buffered-writer on macos build
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/virtual_file/owned_buffers_io/write.rs
Labels: run-extra-build-macos

#9812 test_runner/performance: add improved bulk insert benchmark
  test_runner/fixtures/pageserver/utils.py
  test_runner/performance/test_ingest_insert_bulk.py
Labels: run-benchmarks

#10011 storcon: automatically clear Pause/Stop scheduling policies to enable detaches
  libs/pageserver_api/src/controller_api.rs
  storage_controller/src/persistence.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#10051 safekeeper: use arc for global timelines and config
  safekeeper/benches/benchutils.rs
  safekeeper/src/bin/safekeeper.rs
  safekeeper/src/broker.rs
  safekeeper/src/copy_timeline.rs
  safekeeper/src/debug_dump.rs
  safekeeper/src/handler.rs
  safekeeper/src/http/mod.rs
  safekeeper/src/http/routes.rs
  safekeeper/src/json_ctrl.rs
  safekeeper/src/metrics.rs
  safekeeper/src/pull_timeline.rs
  safekeeper/src/receive_wal.rs
  safekeeper/src/send_wal.rs
  safekeeper/src/timeline.rs
  safekeeper/src/timelines_global_map.rs
  safekeeper/src/wal_service.rs
Labels: external

#10080 pageserver: fix ingest handling of CLog truncate
  pageserver/src/walingest.rs
Labels: t/bug, c/storage/pageserver

#10079 tests: default interpreted proto in tests
  test_runner/fixtures/neon_fixtures.py
Labels: run-benchmarks

#10054 storcon: refine logic for choosing AZ on tenant creation
  libs/pageserver_api/src/controller_api.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
Labels: t/feature, c/storage/controller

#10169 remote_storage: configurable connection pooling for ABS
  Cargo.lock
  libs/remote_storage/Cargo.toml
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/config.rs
  libs/remote_storage/tests/test_real_azure.rs
Labels: t/bug, c/storage/pageserver

#9953 storcon: include preferred AZ in compute notifications
  storage_controller/src/compute_hook.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#10185 neon_local: add a `flock` to protect against concurrent execution
  control_plane/src/bin/neon_local.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  control_plane/src/storage_controller.rs
Labels: a/test, a/tech_debt

#10198 storage_scrubber: don't report half-created timelines as corruption
  storage_scrubber/src/checks.rs
Labels: t/bug, c/storage/scrubber
