Repository neondatabase/neon, pull requests merged in 2024-08, with the labels that each got.

#8498 fix(pageserver): skip existing layers for btm-gc-compaction
  pageserver/src/tenant.rs
  pageserver/src/tenant/storage_layer/layer_desc.rs
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/layer_manager.rs
Labels: run-benchmarks

#7946 storage_controller: start adding chaos hooks
  Cargo.lock
  storage_controller/Cargo.toml
  storage_controller/src/main.rs
  storage_controller/src/service.rs
  storage_controller/src/service/chaos_injector.rs
Labels: t/feature, c/storage/controller

#8423 tests: add test_historic_storage_formats
  test_runner/regress/test_compatibility.py
Labels: t/feature, a/test

#8590 fix(pageserver): deadlock in gc-compaction
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/delete.rs
Labels: run-benchmarks

#8557 feat(pageserver): support dry-run for gc-compaction, add statistics
  pageserver/src/tenant.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: run-benchmarks

#8607 tests: improve stability of `test_storage_controller_many_tenants`
  test_runner/performance/test_storage_controller_scale.py
Labels: a/test, a/tech_debt, run-benchmarks

#8616 pageserver: use layer visibility when composing heatmap
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_pageserver_secondary.py
Labels: t/feature, c/storage/pageserver

#7409 pageserver: add `bench_ingest`
  pageserver/Cargo.toml
  pageserver/benches/bench_ingest.rs
  pageserver/src/l0_flush.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/storage_layer/split_writer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  pageserver/src/tenant/timeline/detach_ancestor.rs
Labels: c/storage/pageserver, a/tech_debt

#8622 feat(pageserver): add direct io pageserver config
  libs/pageserver_api/src/models.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/virtual_file.rs
Labels: t/feature, c/storage/pageserver

#8641 pageserver: make bench_ingest build (but panic) on macOS
  pageserver/benches/bench_ingest.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/io_engine.rs
Labels: c/storage/pageserver, a/tech_debt, run-extra-build-macos

#8617 pageserver: remove paranoia double-calculation of retain_lsns
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#8662 tests: don't require kafka client for regular tests
  test_runner/logical_repl/test_debezium.py
Labels: a/test, a/tech_debt

#8675 pageserver: don't treat NotInitialized::Stopped as unexpected
  pageserver/src/tenant/timeline.rs
Labels: t/bug, c/storage/pageserver

#8644 storcon: skip draining shard if it's secondary is lagging too much
  control_plane/src/local_env.rs
  control_plane/src/storage_controller.rs
  pageserver/src/tenant/secondary/downloader.rs
  storage_controller/src/drain_utils.rs
  storage_controller/src/lib.rs
  storage_controller/src/main.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/performance/test_storage_controller_scale.py
  test_runner/regress/test_storage_controller.py
Labels: c/storage/controller

#8588 storcon: implement graceful leadership transfer
  storage_controller/migrations/2024-07-26-140924_create_leader/down.sql
  storage_controller/migrations/2024-07-26-140924_create_leader/up.sql
  storage_controller/src/lib.rs
  storage_controller/src/main.rs
  storage_controller/src/metrics.rs
  storage_controller/src/peer_client.rs
  storage_controller/src/persistence.rs
  storage_controller/src/schema.rs
  storage_controller/src/service.rs
Labels: c/storage/controller

#8652 pageserver: add CompactKey, use it in InMemoryLayer
  libs/pageserver_api/src/key.rs
  pageserver/benches/bench_ingest.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#8703 pageserver: implement utilization score
  libs/pageserver_api/src/models/utilization.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/utilization.rs
Labels: t/feature, c/storage/pageserver

#8661 scrubber: fix spurious "Missed some shards" errors
  pageserver/src/http/routes.rs
  storage_scrubber/src/pageserver_physical_gc.rs
  test_runner/regress/test_storage_scrubber.py
Labels: t/bug, c/storage/scrubber

#8679 pageserver: evict covered layers earlier
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
Labels: t/feature, c/storage/pageserver

#8724 CI(label-for-external-users): check membership using GitHub API
  .github/workflows/label-for-external-users.yml
Labels: external

#8722 storcon_cli: don't clobber heatmap interval when setting eviction
  control_plane/storcon_cli/src/main.rs
Labels: t/bug, c/storage/controller

#8628 safekeeper: consider partial uploads when pulling timeline
  safekeeper/src/control_file.rs
  safekeeper/src/http/client.rs
  safekeeper/src/http/routes.rs
  safekeeper/src/pull_timeline.rs
  safekeeper/src/wal_backup.rs
  safekeeper/src/wal_backup_partial.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_wal_acceptor.py
Labels: c/storage/safekeeper

#8733 fix(pageserver): allow unused_imports in download.rs on macOS
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: run-extra-build-macos

#8587 tests: add infra and test for storcon leadership transfer
  control_plane/src/background_process.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/local_env.rs
  control_plane/src/storage_controller.rs
  storage_controller/src/http.rs
  storage_controller/src/peer_client.rs
  storage_controller/src/service.rs
  test_runner/conftest.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/storage_controller_proxy.py
  test_runner/fixtures/utils.py
  test_runner/regress/test_storage_controller.py
Labels: a/test, run-extra-build-macos, c/storage/controller

#8729 pageserver: prioritize secondary downloads to get most recent layers first, except l0s
  pageserver/src/tenant/secondary/heatmap.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#8635 refactor(scrubber): add unified command suitable for cron job
  storage_scrubber/src/main.rs
  storage_scrubber/src/pageserver_physical_gc.rs
  storage_scrubber/src/scan_pageserver_metadata.rs
Labels: c/storage/scrubber

#8745 Make Postgres 16 default version
  .github/actions/run-python-test-set/action.yml
  .github/workflows/build_and_test.yml
  README.md
  control_plane/src/bin/neon_local.rs
  control_plane/src/local_env.rs
  pageserver/src/lib.rs
  pageserver/src/tenant/metadata.rs
  scripts/ps_ec2_setup_instance_store
  test_runner/README.md
  test_runner/fixtures/pg_version.py
  test_runner/performance/README.md
  test_runner/performance/pageserver/README.md
  test_runner/performance/pageserver/interactive/test_many_small_tenants.py
  test_runner/regress/test_compatibility.py
Labels: run-benchmarks

#8768 pageserver: add metric pageserver_secondary_heatmap_total_size
  pageserver/src/metrics.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
Labels: t/feature, c/storage/pageserver

#8772 test: avoid some too long shutdowns by flushing before shutdown
  pageserver/src/lib.rs
  test_runner/performance/pageserver/pagebench/test_ondemand_download_churn.py
  test_runner/performance/test_layer_map.py
  test_runner/regress/test_combocid.py
Labels: run-benchmarks

#8591 pageserver: batch InMemoryLayer `put`s, remove need to sort items by LSN during ingest
  pageserver/benches/bench_ingest.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
Labels: c/storage/pageserver, a/tech_debt

#8711 controller: use PageserverUtilization for scheduling
  libs/pageserver_api/src/controller_api.rs
  libs/pageserver_api/src/models/utilization.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  pageserver/src/utilization.rs
  storage_controller/src/heartbeater.rs
  storage_controller/src/node.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/controller

#8825 chore: improve markdown formatting
  proxy/README.md
  storage_scrubber/README.md
Labels: external

#8608 feat(pageserver): use split layer writer in gc-compaction
  libs/pageserver_api/src/key.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/split_writer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: run-benchmarks

#8844 bench: flush before shutting down
  test_runner/fixtures/compare_fixtures.py
  test_runner/performance/test_wal_backpressure.py
Labels: run-benchmarks

#8763 pageserver: do vectored read on each dio-aligned section once
  .github/workflows/_build-and-test-locally.yml
  pageserver/benches/bench_ingest.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/ctl/src/main.rs
  pageserver/pagebench/src/cmd/getpage_latest_lsn.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/parametrize.py
Labels: c/storage/pageserver

#8869 storage controller: sleep between compute notify retries
  storage_controller/src/reconciler.rs
Labels: t/bug, c/storage/controller

#8878 pageserver: set default io_buffer_alignment to 512 bytes
  pageserver/src/config.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
Labels: c/storage/pageserver
