Repository neondatabase/neon, pull requests merged in 2024-07, with the labels that each got.

#8204 pageserver: add metric `pageserver_secondary_resident_physical_size`
  pageserver/src/metrics.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
Labels: c/storage/pageserver, a/tech_debt

#8219 CI(gather-rust-build-stats): fix build with libpq
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-stats

#8177 pageserver: simpler, stricter config error handling
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_tenants.py
Labels: c/storage/pageserver, a/tech_debt

#8234 tense of errors
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#8235 pageserver: don't try to flush if shutdown during attach
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#8245 pageserver: reduce ops tracked at per-timeline detail
  pageserver/src/metrics.rs
Labels: c/storage/pageserver, a/tech_debt

#8131 pageserver: add supplementary branch usage stats
  libs/pageserver_api/src/models.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/metrics.py
Labels: c/storage/pageserver, a/tech_debt

#8173 tests: perform graceful rolling restarts in storcon scale test
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_storage_controller_scale.py
  test_runner/regress/test_storage_controller.py
Labels: run-benchmarks

#8256 pageserver: downgrade stale generation messages to INFO
  pageserver/src/deletion_queue/validator.rs
  test_runner/fixtures/pageserver/many_tenants.py
  test_runner/performance/pageserver/interactive/test_many_small_tenants.py
  test_runner/performance/pageserver/pagebench/test_large_slru_basebackup.py
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
  test_runner/performance/test_storage_controller_scale.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_change_pageserver.py
  test_runner/regress/test_layers_from_future.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_tenant_conf.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
Labels: c/storage/pageserver, a/tech_debt

#8068 implement rolling hyper-log-log algorithm
  pgxn/neon/Makefile
  pgxn/neon/file_cache.c
  pgxn/neon/hll.c
  pgxn/neon/hll.h
  pgxn/neon/neon--1.3--1.4.sql
  pgxn/neon/neon--1.4--1.3.sql
  test_runner/regress/test_lfc_working_set_approximation.py
  test_runner/regress/test_neon_extension.py
Labels: run-extra-build-macos

#8268 tests: extend allow list in deletion test
  test_runner/regress/test_tenant_delete.py
Labels: a/test

#8271 tests: make location_conf_churn more robust
  test_runner/regress/test_pageserver_secondary.py
Labels: a/test, c/storage/controller

#8253 safekeeper: add separate `tombstones` map for deleted timelines
  safekeeper/src/bin/safekeeper.rs
  safekeeper/src/timelines_global_map.rs
Labels: t/bug, c/storage/safekeeper

#8247 pageserver: add time based image layer creation check
  pageserver/src/tenant/timeline.rs
Labels: run-benchmarks

#8307 pageserver: switch to jemalloc
  Cargo.lock
  pageserver/Cargo.toml
  pageserver/src/bin/pageserver.rs
  workspace_hack/Cargo.toml
Labels: c/storage/pageserver, a/tech_debt

#8232 tests: use smaller layers in test_pg_regress, do compaction after tests
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_pg_regress.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#8255 tests: stabilize test_timeline_size_quota_on_startup
  test_runner/regress/test_timeline_size.py
Labels: t/bug, a/test, c/compute

#8318 tests: stabilize test_sharding_split_compaction
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/layer_manager.rs
  test_runner/regress/test_sharding.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#8335 safekeeper: add eviction_min_resident to stop evictions thrashing
  safekeeper/src/bin/safekeeper.rs
  safekeeper/src/lib.rs
  safekeeper/src/timeline_eviction.rs
  safekeeper/src/timeline_manager.rs
  safekeeper/tests/walproposer_sim/safekeeper.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_wal_acceptor.py
Labels: t/bug, c/storage/safekeeper

#8221 rfcs: add RFC for timeline archival
  docs/rfcs/034-timeline-archive.md
Labels: c/storage/pageserver, t/tech_design_rfc

#8348 safekeeper: eviction metrics
  Cargo.lock
  safekeeper/Cargo.toml
  safekeeper/src/metrics.rs
  safekeeper/src/timeline_eviction.rs
  test_runner/fixtures/safekeeper/http.py
  test_runner/regress/test_wal_acceptor.py
Labels: c/storage/safekeeper, a/tech_debt

#8226 storage controller: add node deletion API
  control_plane/storcon_cli/src/main.rs
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#8359 pageserver: circuit breaker on compaction
  libs/utils/src/circuit_breaker.rs
  libs/utils/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant.rs
  test_runner/regress/test_compaction.py
Labels: c/storage/pageserver, a/tech_debt

#8365 pageserver: use PITR GC cutoffs as authoritative
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_branch_and_gc.py
Labels: c/storage/pageserver, a/tech_debt

#8386 pageserver: un-Arc Timeline::layers
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: c/storage/pageserver, a/tech_debt

#8379 pageserver: clean up GcCutoffs names
  pageserver/src/tenant.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: c/storage/pageserver, a/tech_debt

#8396 pageserver: exclude un-read layers from short residence statistic
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  test_runner/regress/test_tenant_conf.py
Labels: t/bug, c/storage/pageserver

#8401 pageserver: reduce size of delta layer ValueRef
  pageserver/src/tenant/storage_layer/delta_layer.rs
Labels: c/storage/pageserver, a/tech_debt

#6888 docs/rfcs: timeline ancestor detach API
  docs/rfcs/034-ancestor-deletion.md
Labels: c/storage/pageserver, t/tech_design_rfc

#8403 tests: add test_compaction_l0_memory
  test_runner/fixtures/pageserver/http.py
  test_runner/performance/test_compaction.py
Labels: c/storage/pageserver, a/test, run-benchmarks

#8410 pageserver: layer count & size metrics
  pageserver/src/metrics.rs
  pageserver/src/tenant/storage_layer/layer.rs
  test_runner/fixtures/metrics.py
Labels: c/storage/pageserver, a/tech_debt

#8419 tests: fix metrics check in test_s3_eviction
  test_runner/regress/test_wal_acceptor.py
Labels: a/test, a/tech_debt

#8418 tests: increase test_pg_regress and test_isolation timeouts
  test_runner/regress/test_pg_regress.py
Labels: a/test, a/tech_debt

#8352 tests: turn on safekeeper eviction by default
  test_runner/fixtures/neon_fixtures.py
Labels: c/storage/safekeeper, a/test, run-benchmarks

#8420 pageserver: add compression metrics & extend test
  pageserver/src/metrics.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  test_runner/regress/test_compaction.py
Labels: t/feature, c/storage/pageserver

#8424 scrubber: remove metadata histograms
  Cargo.lock
  storage_scrubber/Cargo.toml
  storage_scrubber/src/scan_pageserver_metadata.rs
Labels: c/storage/scrubber

#8196 storage scrubber: GC ancestor shard layers
  Cargo.lock
  Cargo.toml
  control_plane/storcon_cli/Cargo.toml
  control_plane/storcon_cli/src/main.rs
  libs/pageserver_api/src/controller_api.rs
  libs/utils/src/auth.rs
  pageserver/src/auth.rs
  safekeeper/src/auth.rs
  storage_controller/client/Cargo.toml
  storage_controller/client/src/control_api.rs
  storage_controller/client/src/lib.rs
  storage_controller/src/http.rs
  storage_controller/src/main.rs
  storage_controller/src/service.rs
  storage_scrubber/Cargo.toml
  storage_scrubber/src/lib.rs
  storage_scrubber/src/main.rs
  storage_scrubber/src/pageserver_physical_gc.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_scrubber.py
  test_runner/regress/test_tenant_delete.py
Labels: t/feature, c/storage/pageserver, c/storage/scrubber

#8438 tests: longer timeouts in test_timeline_deletion_with_files_stuck_in_upload_queue
  test_runner/regress/test_remote_storage.py
Labels: a/test, a/tech_debt

#8446 tests: more generous memory allowance in test_compaction_l0_memory
  test_runner/performance/test_compaction.py
Labels: a/test, a/tech_debt, run-benchmarks

#8454 pageserver: remove absolute-order disk usage eviction
  pageserver/src/config.rs
  pageserver/src/disk_usage_eviction_task.rs
  test_runner/regress/test_disk_usage_eviction.py
Labels: c/storage/pageserver, a/tech_debt

#8442 tests: make test_change_pageserver more robust
  test_runner/regress/test_change_pageserver.py
Labels: a/test, a/tech_debt

#8344 fix(scrubber): more robust metadata consistency checks
  Cargo.lock
  libs/utils/src/shard.rs
  pageserver/src/tenant/layer_map.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer_name.rs
  pageserver/src/tenant/timeline.rs
  storage_scrubber/Cargo.toml
  storage_scrubber/src/checks.rs
  storage_scrubber/src/scan_pageserver_metadata.rs
  test_runner/fixtures/common_types.py
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_storage_scrubber.py
Labels: c/storage/scrubber

#8453 tests: make `test_scrubber_physical_gc_ancestors` more stable
  pageserver/src/http/routes.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_storage_scrubber.py
Labels: a/test, a/tech_debt, c/storage/scrubber

#8432 pageserver: add LayerVisibilityHint
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer/tests.rs
  pageserver/src/tenant/timeline/layer_manager.rs
Labels: t/feature, c/storage/pageserver

#8471 tests: allow-list a controller heartbeat error
  storage_controller/src/service.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/test, a/tech_debt

#8431 pageserver: simplify LayerAccessStats
  Cargo.lock
  Cargo.toml
  libs/pageserver_api/src/models.rs
  libs/utils/Cargo.toml
  libs/utils/src/history_buffer.rs
  libs/utils/src/lib.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer/tests.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  test_runner/regress/test_disk_usage_eviction.py
  test_runner/regress/test_threshold_based_eviction.py
Labels: c/storage/pageserver, a/tech_debt

#8477 tests: simplify code around unstable `test_basebackup_with_high_slru_count`
  pageserver/src/bin/pageserver.rs
  test_runner/fixtures/pageserver/many_tenants.py
  test_runner/performance/pageserver/pagebench/test_large_slru_basebackup.py
Labels: a/test, a/tech_debt, run-benchmarks

#8427 pageserver: maintain gc_info incrementally
  pageserver/src/tenant.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
Labels: c/storage/pageserver, a/tech_debt

#8487 pageserver: fix a compilation error
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: c/storage/pageserver, a/tech_debt

#8509 tests: adjust threshold in test_partial_evict_tenant
  test_runner/regress/test_disk_usage_eviction.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#8500 fix(pageserver): allow incomplete history in btm-gc-compaction
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: run-benchmarks

#8497 remote_storage: expose last_modified in listings
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/tests/common/tests.rs
  libs/remote_storage/tests/test_real_s3.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  safekeeper/src/wal_backup.rs
  storage_scrubber/src/garbage.rs
Labels: t/feature, c/storage/pageserver

#8518 Update Rust to 1.80.0
  Dockerfile.build-tools
  libs/postgres_ffi/src/controlfile_utils.rs
  libs/postgres_ffi/src/pg_constants.rs
  libs/postgres_ffi/src/xlog_utils.rs
  libs/postgres_ffi/wal_craft/src/xlog_utils_test.rs
  pageserver/src/tenant/metadata.rs
  pageserver/src/tenant/storage_layer/layer/tests.rs
  pageserver/src/tenant/storage_layer/merge_iterator.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/walingest.rs
  proxy/src/proxy/tests/mitm.rs
  proxy/src/scram/countmin.rs
  rust-toolchain.toml
  safekeeper/src/control_file.rs
  safekeeper/tests/walproposer_sim/walproposer_disk.rs
Labels: run-extra-build-macos

#8531 test_runner: fix user_property usage in benchmarks
  test_runner/fixtures/benchmark_fixture.py
  test_runner/fixtures/neon_fixtures.py
Labels: run-benchmarks

#8508 pageserver: fix return code from secondary_download_handler
  pageserver/src/http/routes.rs
Labels: t/bug, c/storage/pageserver

#8461 scrubber: enable cleaning up garbage tenants from known deletion bugs, add object age safety check
  storage_scrubber/src/garbage.rs
  storage_scrubber/src/main.rs
Labels: a/tech_debt, c/storage/scrubber

#8480 feat(storcon): store scrubber metadata scan result
  Cargo.lock
  libs/pageserver_api/src/controller_api.rs
  libs/utils/src/auth.rs
  storage_controller/Cargo.toml
  storage_controller/migrations/2024-07-23-191537_create_metadata_health/down.sql
  storage_controller/migrations/2024-07-23-191537_create_metadata_health/up.sql
  storage_controller/src/http.rs
  storage_controller/src/persistence.rs
  storage_controller/src/schema.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_controller.py
Labels: c/storage/controller

#8502 feat(scrubber): post `scan_metadata` results to storage controller
  libs/pageserver_api/src/controller_api.rs
  storage_scrubber/src/checks.rs
  storage_scrubber/src/lib.rs
  storage_scrubber/src/main.rs
  storage_scrubber/src/pageserver_physical_gc.rs
  storage_scrubber/src/scan_pageserver_metadata.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_scrubber.py
Labels: c/storage/scrubber

#8474 test(pageserver): add test_gc_feedback_with_snapshots
  scripts/benchmark_durations.py
  test_runner/performance/test_gc_feedback.py
Labels: run-benchmarks
