Repository neondatabase/neon, pull requests merged in 2024-10, with the labels that each got.

#9202 tests: make test_multi_attach more stable
  test_runner/regress/test_pageserver_generations.py
Labels: t/bug, c/storage/controller

#9204 storage_scrubber: retry on index deletion failures
  storage_scrubber/src/pageserver_physical_gc.rs
Labels: t/bug, c/storage/scrubber

#9213 safekeeper: Fix a log message of HTTP worker
  safekeeper/src/lib.rs
Labels: external

#9224 pageserver: tweak logging of "became visible" for layers
  pageserver/src/tenant/storage_layer/layer.rs
Labels: c/storage/pageserver, a/tech_debt

#9239 tests: sync_after_each_test -> sync_between_tests
  .github/workflows/build_and_test.yml
  test_runner/fixtures/compare_fixtures.py
Labels: a/test, a/tech_debt, run-benchmarks

#9180 Change parentheses to clarify conditions in walproposer
  pgxn/neon/walproposer.c
  pgxn/neon/walproposer_pg.c
Labels: external

#9319 Fix compiler warnings on macOS
  pgxn/neon/file_cache.c
Labels: run-extra-build-macos

#9214 pageserver: add direct io config to virtual file
  libs/pageserver_api/src/config.rs
  libs/pageserver_api/src/models.rs
  pageserver/benches/bench_ingest.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/ctl/src/main.rs
  pageserver/pagebench/src/cmd/getpage_latest_lsn.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/parametrize.py
Labels: c/storage/pageserver, run-extra-build-macos

#9322 Add partial support of extensions for v17:
  compute/Dockerfile.compute-node
Labels: /release-notes

#9334 Move PgBenchInitResult.EXTRACTORS to a private module constant
  test_runner/fixtures/benchmark_fixture.py
Labels: run-benchmarks

#9343 storage controller: use 'infra' JWT scope for node registration
  libs/utils/src/auth.rs
  pageserver/src/auth.rs
  safekeeper/src/auth.rs
  storage_controller/src/http.rs
Labels: a/tech_debt, c/storage/controller

#9320 tests: allow a log warning in test_cli_start_stop_multi
  test_runner/regress/test_neon_cli.py
Labels: a/test, a/tech_debt

#9347 tests: stabilize test_storage_controller_heartbeats
  test_runner/regress/test_storage_controller.py
Labels: a/test, a/tech_debt, c/storage/controller

#8971 pageserver: stabilize & refine controller scale test
  libs/utils/src/http/error.rs
  pageserver/src/http/routes.rs
  proxy/src/serverless/http_util.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_storage_controller_scale.py
Labels: t/bug, c/storage/pageserver, run-benchmarks, c/storage/controller

#9413 tests: stabilize test_timelines_parallel_endpoints
  test_runner/regress/test_tenants.py
Labels: t/bug, a/test

#9389 Add support of extensions for v17 (part 2)
  compute/Dockerfile.compute-node
Labels: /release-notes

#9409 storage_scrubber: fixes to garbage commands
  storage_scrubber/src/cloud_admin_api.rs
  storage_scrubber/src/garbage.rs
Labels: t/bug, c/storage/scrubber

#9430 Add support of extensions for v17 (part 3)
  compute/Dockerfile.compute-node
Labels: /release-notes

#9383 pageserver: detect & warn on loading an old index which is probably the result of a bad generation
  pageserver/src/http/routes.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: c/storage/pageserver, a/tech_debt

#9445 Update Rust to 1.82.0 and mold to 2.34.0
  Dockerfile.build-tools
  rust-toolchain.toml
Labels: run-extra-build-macos

#9435 storcon: fix case where we might fail to send compute notifications after two opposite migrations
  storage_controller/src/compute_hook.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#9326 pageserver: use direct IO for delta and image layer reads
  pageserver/benches/bench_ingest.rs
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/ctl/src/main.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/page_cache.rs
  pageserver/src/tenant/block_io.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer/vectored_dio_read.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/alignment.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/buffer.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/buffer_mut.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/raw.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/slice.rs
  pageserver/src/virtual_file/owned_buffers_io/io_buf_aligned.rs
  pageserver/src/virtual_file/owned_buffers_io/io_buf_ext.rs
Labels: c/storage/pageserver

#9475 storage controller: add metrics for tenant shard, node count
  storage_controller/src/metrics.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#9469 tests: avoid using background_process when invoking pg_ctl
  control_plane/src/storage_controller.rs
Labels: a/test, a/tech_debt

#9486 storcon: respect Reconciler::cancel during await_lsn
  storage_controller/src/reconciler.rs
Labels: t/bug, t/on_call_followup, c/storage/controller

#9507 pageserver: fix N^2 I/O when processing relation drops in transaction abort
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/walingest.rs
  test_runner/regress/test_pg_regress.py
Labels: t/bug, c/storage/pageserver

#9482 pageserver: add tokio-epoll-uring slots waiters queue depth metrics
  Cargo.lock
  libs/metrics/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/virtual_file/io_engine/tokio_epoll_uring_ext.rs
  test_runner/fixtures/metrics.py
Labels: c/storage/pageserver

#9520 storcon: add an API to cancel ongoing reconciler
  control_plane/storcon_cli/src/main.rs
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_storage_controller.py
Labels: a/tech_debt, c/storage/controller

#9545 pageserver: refactor generation-aware loading code into generic
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: c/storage/pageserver, a/tech_debt

#9557 pageserver: make concurrent offloaded timeline operations safe wrt manifest uploads
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/manifest.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/offload.rs
Labels: t/feature, c/storage/pageserver

#9555 pageserver: generation-aware storage for TenantManifest
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
Labels: t/feature, c/storage/pageserver

#9589 pageserver: fix spurious error logs in timeline lifecycle
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/offload.rs
  pageserver/src/tenant/timeline/uninit.rs
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_import.py
  test_runner/regress/test_tenant_delete.py
Labels: c/storage/pageserver, a/tech_debt
