Repository neondatabase/neon, pull requests merged in 2024-09, with the labels that each got.

#8875 storage controller: eliminate ensure_attached
  storage_controller/src/persistence.rs
  storage_controller/src/service.rs
Labels: a/tech_debt, c/storage/controller

#8876 pageserver: reuse idempotency keys across metrics sinks
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/upload.rs
Labels: external

#8621 pageserver: separate metadata and data pages in DatadirModification
  pageserver/src/import_datadir.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  pageserver/src/walingest.rs
  pageserver/src/walrecord.rs
Labels: c/storage/pageserver, a/tech_debt

#8784 storage controller: read from database in validate API
  storage_controller/src/http.rs
  storage_controller/src/persistence.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_storage_scrubber.py
Labels: t/bug, c/storage/controller

#8919 build: sync between benchies
  .github/workflows/build_and_test.yml
  test_runner/fixtures/compare_fixtures.py
Labels: run-benchmarks

#8922 Fix precedence issue causing yielding loop to never yield.
  libs/utils/src/yielding_loop.rs
Labels: external

#8939 Update Rust to 1.81.0
  Cargo.lock
  Cargo.toml
  Dockerfile.build-tools
  libs/postgres_ffi/build.rs
  libs/walproposer/build.rs
  libs/walproposer/src/api_bindings.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  proxy/src/console/provider/neon.rs
  rust-toolchain.toml
  safekeeper/src/send_wal.rs
  workspace_hack/Cargo.toml
Labels: run-extra-build-macos

#8946 libs: tweak PageserverUtilization::is_overloaded
  libs/pageserver_api/src/models/utilization.rs
Labels: a/tech_debt, c/storage/controller

#9001 CI(gather-rust-build-stats): set PQ_LIB_DIR to Postgres 17
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-stats

#8948 add `neon_local` subcommand for the broker & use that from regression tests
  control_plane/src/bin/neon_local.rs
  test_runner/fixtures/broker.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_neon_cli.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_storage_controller.py
  test_runner/regress/test_wal_acceptor.py
Labels: run-benchmarks

#9064 pageserver: suppress noisy "layer became visible" logs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/storage_layer/layer/tests.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#8942 pageserver: handle decompression outside vectored `read_blobs`
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/vectored_blob_io.rs
Labels: c/storage/pageserver

#9128 Fix compiler warnings on macOS
  pgxn/neon/neon_perf_counters.c
  pgxn/neon/neon_perf_counters.h
Labels: run-extra-build-macos

#9133 chore(docker-compose): fix typo in readme
  docker-compose/README.md
Labels: external

#9065 storage controller: make proxying of GETs to pageservers more robust
  storage_controller/src/http.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#8997 pageserver: rename control plane client & chunk validation requests
  pageserver/src/bin/pageserver.rs
  pageserver/src/controller_upcall_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/validator.rs
  pageserver/src/lib.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#9183 pageserver: refactor immediate_gc into TenantManager
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#9161 tests: longer timeout in `test_delete_timeline_client_hangup`
  test_runner/regress/test_timeline_delete.py
Labels: a/test, a/tech_debt
