Repository neondatabase/neon, pull requests merged in 2024-03, with the labels that each got.

#6981 pageserver: fix duplicate shard_id in span
  pageserver/src/page_service.rs
Labels: c/storage/pageserver, a/tech_debt

#6990 pageserver: handle temp_download files in secondary locations
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/secondary/downloader.rs
Labels: c/storage/pageserver, a/tech_debt

#6970 pageserver: increase DEFAULT_MAX_WALRECEIVER_LSN_WAL_LAG
  pageserver/src/tenant/config.rs
  test_runner/regress/test_tenant_conf.py
Labels: t/bug, c/storage/pageserver

#6521 control_plane/attachment_service: implement PlacementPolicy::Secondary, configuration updates
  control_plane/attachment_service/migrations/2024-02-29-094122_generations_null/down.sql
  control_plane/attachment_service/migrations/2024-02-29-094122_generations_null/up.sql
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/schema.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  libs/utils/src/generation.rs
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage

#6988 pageserver: mention key in walredo errors
  pageserver/src/walredo.rs
Labels: c/storage/pageserver, a/tech_debt

#6984 tests: debugging for `test_secondary_downloads` failures
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#7005 vm-image: update pgbouncer from 1.22.0 to 1.22.1
  vm-image-spec.yaml
Labels: /release-notes

#6378 tokio-epoll-uring: use it on the layer-creating code paths
  pageserver/src/tenant/blob_io.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/io_engine.rs
  pageserver/src/virtual_file/metadata.rs
Labels: run-benchmarks, run-extra-build-*

#7024 fixup(#6991): it broke the macOS build
  pageserver/src/virtual_file/io_engine.rs
Labels: run-extra-build-macos

#6987 storage controller: use 'lazy' mode for location_config
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/pageserver.rs
  pageserver/client/src/mgmt_api.rs
Labels: a/tech_debt, c/storage/controller

#6974 storage controller: include stripe size in compute notifications
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  libs/pageserver_api/src/models.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/pageserver, c/storage/controller

#7036 storage controller: misc fixes
  control_plane/attachment_service/src/service.rs
  pageserver/src/tenant/storage_layer/layer.rs
Labels: t/bug, c/storage/controller

#7042 Rename binary attachment_service -> storage_controller
  Dockerfile
  control_plane/attachment_service/Cargo.toml
  control_plane/src/attachment_service.rs
  control_plane/src/local_env.rs
Labels: a/tech_debt, c/storage/controller

#6959 bench: run branch_creation_many at 500, seeded
  pageserver/src/tenant/tasks.rs
  test_runner/performance/test_branch_creation.py
Labels: run-benchmarks

#7027 storage controller: robustness improvements
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
Labels: t/bug, t/feature, c/storage/controller

#7070 pageserver: update swagger for HA APIs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/tenant/config.rs
Labels: c/storage/pageserver, a/tech_debt

#7086 storage controller: refactor non-mutable members up into Service
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
Labels: a/tech_debt, c/storage/controller

#7087 tests/neon_local: rename "attachment service" -> "storage controller"
  Makefile
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/lib.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  control_plane/src/storage_controller.rs
  docs/authentication.md
  libs/pageserver_api/src/controller_api.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/many_tenants.py
  test_runner/performance/pageserver/interactive/test_many_small_tenants.py
  test_runner/performance/pageserver/pagebench/test_large_slru_basebackup.py
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
  test_runner/performance/test_bulk_insert.py
  test_runner/regress/test_attach_tenant_config.py
  test_runner/regress/test_change_pageserver.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_layers_from_future.py
  test_runner/regress/test_neon_cli.py
  test_runner/regress/test_pageserver_api.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_s3_restore.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_sharding_service.py
  test_runner/regress/test_timeline_size.py
Labels: a/test, a/tech_debt, c/storage/controller

#7040 storage controller: register nodes in re-attach request
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/upcall_api.rs
  pageserver/src/config.rs
  pageserver/src/control_plane_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/pageserver, c/storage/controller

#7093 pageserver: enable setting stripe size inline with split request.
  control_plane/attachment_service/src/service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/storage_controller.rs
  libs/pageserver_api/src/models.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver, c/storage/controller

#7074 pageserver/controller: error handling for shard splitting
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/id_lock_map.rs
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
  test_runner/conftest.py
  test_runner/fixtures/compute_reconfigure.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/workload.py
  test_runner/regress/test_sharding.py
Labels: a/tech_debt, c/storage/controller

#7113 fix(test suite) `virtual_file_io_engine` and `get_vectored_impl` patametrization doesn't work
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  test_runner/fixtures/parametrize.py
Labels: run-benchmarks

#7101 storage controller: validate DNS of registering nodes
  control_plane/attachment_service/src/service.rs
Labels: a/tech_debt, c/storage/controller

#5432 docs: sharding phase 1 RFC
  docs/rfcs/031-sharding-static.md
Labels: t/tech_design_rfc, c/storage

#7134 tests: extend log allow list for test_sharding_split_failures
  test_runner/regress/test_sharding.py
Labels: a/test, a/tech_debt

#7126 remote_storage: make last_modified and etag mandatory
  libs/remote_storage/Cargo.toml
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  libs/remote_storage/tests/test_real_s3.rs
Labels: c/storage/pageserver, a/tech_debt

#5717 pageserver: remove un-needed "uninit mark"
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline/uninit.rs
  test_runner/fixtures/pageserver/allowed_errors.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_branching.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_import.py
Labels: c/storage/pageserver, a/tech_debt

#7142 .github: apply timeout to pytest `regress`
  .github/workflows/build_and_test.yml
Labels: a/test, a/tech_debt

#6358 docs: shard splitting RFC
  docs/rfcs/032-shard-splitting.md
Labels: c/storage/pageserver, t/tech_design_rfc

#6407 pageserver: exclude gc_horizon from synthetic size calculation
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_tenant_size.py
Labels: t/bug, c/storage/pageserver

#6105 pageserver: cancellation for remote ops in tenant deletion on shutdown
  pageserver/src/bin/pageserver.rs
  pageserver/src/lib.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_timeline_delete.py
Labels: c/storage/pageserver, a/tech_debt

#6992 tokio-epoll-uring: use it for on-demand downloads
  libs/pageserver_api/src/models.rs
  libs/utils/src/history_buffer.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/pagebench/src/cmd/ondemand_download_churn.rs
  pageserver/pagebench/src/main.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/io_engine.rs
  pageserver/src/virtual_file/owned_buffers_io/util/size_tracking_writer.rs
  pageserver/src/virtual_file/owned_buffers_io/write.rs
  scripts/ps_ec2_setup_instance_store
Labels: run-benchmarks, run-extra-build-macos

#7131 pageserver, controller: improve secondary download APIs for large shards
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/models.rs
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/src/local_fs.rs
  libs/remote_storage/src/s3_bucket.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/heatmap.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_pageserver_secondary.py
Labels: t/feature, c/storage/pageserver, c/storage/controller

#7156 build: make procfs linux only dependency
  Cargo.lock
  pageserver/Cargo.toml
  pageserver/src/virtual_file/io_engine.rs
  workspace_hack/Cargo.toml
Labels: run-extra-build-macos

#6732 pageserver: refactoring in TenantManager to reduce duplication
  pageserver/src/http/routes.rs
  pageserver/src/tenant/mgr.rs
Labels: c/storage/pageserver, a/tech_debt

#6710 tests: log hygiene checks for storage controller
  control_plane/attachment_service/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/allowed_errors.py
  test_runner/fixtures/utils.py
  test_runner/regress/test_branch_and_gc.py
  test_runner/regress/test_branch_behind.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_sharding_service.py
  test_runner/regress/test_tenants.py
Labels: a/test, a/tech_debt

#7165 storage controller: tech debt
  control_plane/attachment_service/migrations/2024-03-18-184429_rename_policy/down.sql
  control_plane/attachment_service/migrations/2024-03-18-184429_rename_policy/up.sql
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/storage_controller.rs
  libs/pageserver_api/src/controller_api.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/types.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_sharding.py
Labels: a/tech_debt, c/storage/controller

#7183 pageserver: extra debug for test_secondary_downloads failures
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/scheduler.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/tech_debt

#7169 storage controller: fixes to secondary location handling
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/service.rs
  pageserver/src/tenant/secondary/downloader.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding.py
Labels: t/bug, c/storage/controller

#7177 pageserver: quieten log on shutdown-while-attaching
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#6941 pageserver: extend /re-attach response to include tenant mode
  control_plane/attachment_service/src/service.rs
  libs/pageserver_api/src/upcall_api.rs
  pageserver/src/control_plane_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/mgr.rs
  test_runner/regress/test_sharding_service.py
Labels: c/storage/pageserver, a/tech_debt, c/storage/controller

#7198 Update Rust to 1.77.0
  Dockerfile.build-tools
  compute_tools/src/config.rs
  libs/remote_storage/src/local_fs.rs
  libs/utils/src/lock_file.rs
  pageserver/src/tenant/delete.rs
  rust-toolchain.toml
  safekeeper/src/copy_timeline.rs
  safekeeper/src/wal_storage.rs
Labels: run-extra-build-macos

#7201 Fix ephemeral file warning on secondaries
  pageserver/src/tenant/secondary/downloader.rs
  test_runner/regress/test_pageserver_metric_collection.py
Labels: t/bug, c/storage/pageserver

#7200 pageserver: write consumption metrics to S3
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/upload.rs
  test_runner/regress/test_pageserver_metric_collection.py
Labels: c/storage/pageserver, a/tech_debt

#7105 storage controller: tighten up secrets handling
  Cargo.lock
  Cargo.toml
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/main.rs
  control_plane/src/storage_controller.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/tech_debt, c/storage/controller

#7227 tests: stabilize compat tests
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_compatibility.py
Labels: c/storage/pageserver, a/test

#7223 tests: tolerate transient unavailability in test_sharding_split_failures
  test_runner/regress/test_sharding.py
Labels: a/test, a/tech_debt

#7220 tests: wait for uploads in test_secondary_downloads
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#7225 pageserver: return 429 on timeline creation in progress
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  test_runner/regress/test_tenants.py
Labels: c/storage/pageserver, a/tech_debt

#7218 pageserver: limit total ephemeral layer bytes
  Cargo.lock
  pageserver/Cargo.toml
  pageserver/src/config.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/storage_layer.rs
  pageserver/src/tenant/storage_layer/inmemory_layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/walreceiver/walreceiver_connection.rs
  test_runner/regress/test_pageserver_layer_rolling.py
  test_runner/regress/test_pageserver_small_inmemory_layers.py
Labels: t/bug, c/storage/pageserver

#7251 tests: add a log allow list to stabilize benchmarks
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: a/test, a/tech_debt, run-benchmarks

#7237 pageserver: remove bare mgr::get_tenant, mgr::list_tenants
  pageserver/src/bin/pageserver.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/uninit.rs
  test_runner/regress/test_pageserver_secondary.py
Labels: c/storage/pageserver, a/tech_debt

#7262 storage controller: tenant scheduling policy
  control_plane/attachment_service/migrations/2024-03-27-133204_tenant_policies/down.sql
  control_plane/attachment_service/migrations/2024-03-27-133204_tenant_policies/up.sql
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/schema.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  libs/pageserver_api/src/controller_api.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage/controller

#7268 storage controller: be more tolerant of control plane blocking notifications
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/service.rs
  test_runner/regress/test_sharding_service.py
Labels: a/tech_debt, c/storage/controller

#7181 storage controller: scheduling optimization for sharded tenants
  control_plane/attachment_service/src/metrics.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/controller
