Repository neondatabase/neon, pull requests merged in 2024-01, with the labels that each got.

#6253 tests: update pytest and boto3 dependencies
  poetry.lock
  pyproject.toml
Labels: a/test, a/tech_debt

#6261 tests: tolerate 304 when evicting layers
  test_runner/fixtures/pageserver/http.py
Labels: c/storage/pageserver, a/test, a/tech_debt

#6259 test_runner: test_issue_5878 log allow list
  test_runner/regress/test_layers_from_future.py
Labels: a/test, a/tech_debt

#6262 pageserver: improved error handling for shard routing error, timeline not found
  libs/postgres_backend/src/lib.rs
  libs/utils/src/http/error.rs
  pageserver/src/http/routes.rs
  pageserver/src/page_service.rs
  pageserver/src/pgdatadir_mapping.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/timeline.rs
Labels: c/storage/pageserver, a/tech_debt

#6123 pageserver: implement secondary-mode downloads
  control_plane/src/pageserver.rs
  control_plane/src/tenant_migration.rs
  libs/utils/src/lib.rs
  libs/utils/src/sync/gate.rs
  libs/utils/src/yielding_loop.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/task_mgr.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/secondary/scheduler.rs
  pageserver/src/tenant/tasks.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_pageserver_secondary.py
Labels: t/feature, c/storage/pageserver

#6275 pageserver: use `pub(crate)` in metrics.rs, and clean up unused items
  pageserver/src/metrics.rs
  pageserver/src/tenant/storage_layer/layer.rs
Labels: c/storage/pageserver, a/tech_debt

#6282 pageserver: clean up a TODO comment
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
Labels: c/storage/pageserver, a/tech_debt

#6281 s3_scrubber: updates for sharding
  s3_scrubber/src/garbage.rs
  s3_scrubber/src/scan_metadata.rs
  test_runner/regress/test_pageserver_generations.py
Labels: a/tech_debt, c/storage/scrubber

#6250 RFC: vectored `Timeline::get`
  docs/rfcs/030-vectored-timeline-get.md
Labels: c/storage/pageserver, t/tech_design_rfc

#6294 Also allow unnecessary_fallible_conversions lint
  pageserver/src/statvfs.rs
Labels: run-extra-build-macos

#6277 pageserver: cleanup redundant create/attach code, fix detach while attaching
  libs/utils/src/failpoint_support.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_remote_storage.py
  test_runner/regress/test_tenant_detach.py
  test_runner/regress/test_tenants.py
Labels: c/storage/pageserver, a/tech_debt

#6280 pageserver: clean up a redundant tenant_id attribute
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/timeline/walreceiver/connection_manager.rs
Labels: a/test, a/tech_debt

#6301 pageserver: do not bump priority of background task for timeline status requests
  pageserver/client/src/mgmt_api.rs
  pageserver/pagebench/src/cmd/basebackup.rs
  pageserver/pagebench/src/cmd/trigger_initial_size_calculation.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/tasks.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_timeline_size.py
Labels: c/storage/pageserver

#6344 page_service: handle GetActiveTenantError::Cancelled
  pageserver/src/page_service.rs
Labels: c/storage/pageserver, a/tech_debt

#6331 pageserver: only upload initdb from shard 0
  pageserver/src/tenant.rs
Labels: t/feature, c/storage/pageserver

#6008 [compute_ctl] Do not miss short-living connections
  compute_tools/src/bin/compute_ctl.rs
  compute_tools/src/compute.rs
  compute_tools/src/monitor.rs
  libs/compute_api/src/spec.rs
Labels: /release-notes

#6330 pageserver: API updates for sharding
  control_plane/src/bin/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/pageserver.rs
  control_plane/src/tenant_migration.rs
  libs/compute_api/src/spec.rs
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/client/src/mgmt_api/util.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/mgr.rs
Labels: t/feature, c/storage/pageserver

#6037 page_service: more efficient page_service -> shard lookup
  libs/pageserver_api/src/shard.rs
  pageserver/src/page_service.rs
Labels: c/storage/pageserver, a/tech_debt

#6225 pageserver: eviction for secondary mode tenants
  pageserver/src/bin/pageserver.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/storage_layer/layer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  test_runner/regress/test_disk_usage_eviction.py
Labels: t/feature, c/storage/pageserver

#6329 pageserver: add list API for LocationConf
  Cargo.lock
  libs/pageserver_api/Cargo.toml
  libs/pageserver_api/src/models.rs
  libs/pageserver_api/src/shard.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/config.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/secondary.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/eviction_task.rs
Labels: t/feature, c/storage/pageserver

#6251 control_plane: generalize attachment_service to handle sharding
  Cargo.lock
  Cargo.toml
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/compute_hook.rs
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/lib.rs
  control_plane/attachment_service/src/main.rs
  control_plane/attachment_service/src/node.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/reconciler.rs
  control_plane/attachment_service/src/scheduler.rs
  control_plane/attachment_service/src/service.rs
  control_plane/attachment_service/src/tenant_state.rs
  control_plane/src/attachment_service.rs
  control_plane/src/bin/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  control_plane/src/lib.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  control_plane/src/tenant_migration.rs
  libs/pageserver_api/src/models.rs
  libs/utils/src/id.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  test_runner/fixtures/metrics.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/http.py
  test_runner/fixtures/pageserver/utils.py
  test_runner/fixtures/workload.py
  test_runner/performance/test_bulk_insert.py
  test_runner/regress/test_broken_timeline.py
  test_runner/regress/test_disk_usage_eviction.py
  test_runner/regress/test_pageserver_generations.py
  test_runner/regress/test_tenant_relocation.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_timeline_size.py
Labels: t/feature, a/test

#6308 pageserver: add shard_id to metric labels
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/virtual_file.rs
  pageserver/src/walingest.rs
Labels: c/storage/pageserver, a/tech_debt

#6395 zenbenchmark: attach perf results to allure report
  test_runner/fixtures/benchmark_fixture.py
Labels: run-benchmarks

#6430 pageserver: mark tenant broken when cancelling attach
  pageserver/src/tenant.rs
Labels: t/bug, c/storage/pageserver

#6436 pageserver: fixes for creation operations overlapping with shutdown/startup
  libs/utils/src/http/error.rs
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/delete.rs
  pageserver/src/tenant/mgr.rs
  test_runner/fixtures/pageserver/http.py
  test_runner/regress/test_pageserver_secondary.py
  test_runner/regress/test_tenant_delete.py
  test_runner/regress/test_tenants.py
  test_runner/regress/test_timeline_size.py
Labels: t/bug, c/storage/pageserver

#5824 integrate tokio-epoll-uring as alternative VirtualFile IO engine
  .github/workflows/build_and_test.yml
  Cargo.lock
  Cargo.toml
  pageserver/Cargo.toml
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/ctl/src/main.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/lib.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant/block_io.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/io_engine.rs
  pageserver/src/virtual_file/open_options.rs
  scripts/flaky_tests.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/parametrize.py
Labels: run-benchmarks

#6380 tests: add basic coverage for sharding
  pageserver/src/walingest.rs
  test_runner/fixtures/workload.py
  test_runner/regress/test_pageserver_restart.py
  test_runner/regress/test_pg_regress.py
  test_runner/regress/test_sharding.py
Labels: t/feature, c/storage/pageserver, a/test

#6469 pageserver: add range layer map search implementation
  pageserver/src/tenant/layer_map.rs
  pageserver/src/tenant/layer_map/layer_coverage.rs
  pageserver/src/tenant/storage_layer/layer_desc.rs
Labels: c/storage/pageserver

#6506 docker: add attachment_service binary
  Dockerfile
Labels: a/docker, c/storage

#6394 control_plane/attachment_service: complete APIs
  Cargo.lock
  control_plane/attachment_service/Cargo.toml
  control_plane/attachment_service/src/http.rs
  control_plane/attachment_service/src/persistence.rs
  control_plane/attachment_service/src/service.rs
  control_plane/src/attachment_service.rs
  control_plane/src/bin/neon_local.rs
  libs/pageserver_api/src/models.rs
  pageserver/client/src/mgmt_api.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_sharding_service.py
Labels: t/feature, c/storage

#6545 control_plane/attachment_service: make --path optional
  control_plane/attachment_service/src/main.rs
Labels: a/tech_debt, c/storage
