Repository neondatabase/neon, pull requests merged in 2024-11, with the labels that each got.

#9594 pageserver: make local timeline deletion infallible
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/offload.rs
Labels: c/storage/pageserver, a/tech_debt

#9636 scrubber: remove AWS region assumption, tolerate negative max_project_size
  storage_scrubber/src/cloud_admin_api.rs
  storage_scrubber/src/garbage.rs
Labels: t/bug, c/storage/scrubber

#9657 storcon: respect tenant scheduling policy in drain/fill
  storage_controller/src/drain_utils.rs
  storage_controller/src/service.rs
Labels: t/bug, c/storage/controller

#9672 chore(compute): Bump pg_mooncake to the latest version
  compute/compute-node.Dockerfile
Labels: external

#9677 pageserver: add `no_sync` for use in regression tests (1/2)
  control_plane/src/bin/neon_local.rs
  control_plane/src/local_env.rs
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/config.rs
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
Labels: c/storage/pageserver, a/test, a/tech_debt

#6746 Switch compute-related locales to C.UTF-8 by default
  compute_tools/src/config.rs
  libs/pageserver_api/src/config.rs
  libs/utils/scripts/restore_from_wal.sh
  pageserver/src/config.rs
  pageserver/src/tenant.rs
  test_runner/regress/test_compute_locales.py
  test_runner/regress/test_wal_restore.py
Labels: /release-notes

#9705 fix(pageserver): increase frozen layer warning threshold; ignore in tests
  pageserver/src/tenant/timeline.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: run-benchmarks

#9678 pageserver: add `no_sync` for use in regression tests (2/2)
  test_runner/fixtures/neon_fixtures.py
Labels: c/storage/pageserver, a/test, a/tech_debt, run-benchmarks

#9719 pageserver: refuse to load tenants with suspiciously old indices in old generations
  libs/remote_storage/src/error.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/tech_debt

#9609 tests: add test_timeline_archival_chaos
  pageserver/src/http/routes.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/timeline/delete.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_timeline_archive.py
Labels: t/feature, c/storage/pageserver, a/test

#9743 storcon: exclude non-Active tenants from shard autosplitting
  storage_controller/src/service.rs
Labels: a/tech_debt, t/on_call_followup

#9769 tests: tolerate pageserver 500s in test_timeline_archival_chaos
  test_runner/regress/test_timeline_archive.py
Labels: a/test, a/tech_debt

#9364 safekeeper: block deletion on protocol handler shutdown
  libs/postgres_backend/src/lib.rs
  safekeeper/src/receive_wal.rs
  safekeeper/src/send_wal.rs
  safekeeper/src/timeline.rs
  safekeeper/src/timeline_guard.rs
  safekeeper/src/timeline_manager.rs
  safekeeper/src/timelines_global_map.rs
  safekeeper/src/wal_backup.rs
  test_runner/regress/test_wal_acceptor.py
Labels: c/storage/safekeeper, a/tech_debt

#9817 update macos version for runner
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-macos

#9833 pageserver: permit reads behind GC cutoff during LSN grace period
  pageserver/src/page_service.rs
  pageserver/src/tenant/timeline.rs
  test_runner/regress/test_readonly_node.py
Labels: t/bug, c/storage/pageserver

#8613 test_runner: use LFC by default
  .github/workflows/_build-and-test-locally.yml
  .github/workflows/build_and_test.yml
  scripts/ingest_regress_test_result-new-format.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/parametrize.py
  test_runner/fixtures/utils.py
  test_runner/fixtures/workload.py
  test_runner/regress/test_combocid.py
  test_runner/regress/test_explain_with_lfc_stats.py
  test_runner/regress/test_hot_standby.py
  test_runner/regress/test_lfc_resize.py
  test_runner/regress/test_lfc_working_set_approximation.py
  test_runner/regress/test_local_file_cache.py
  test_runner/regress/test_logical_replication.py
  test_runner/regress/test_oid_overflow.py
  test_runner/regress/test_read_validation.py
  test_runner/regress/test_readonly_node.py
  test_runner/regress/test_timeline_detach_ancestor.py
  test_runner/regress/test_vm_bits.py
  test_runner/regress/test_wal_acceptor.py
Labels: run-benchmarks

#9861 fix(pageserver): ensure all layers are flushed before measuring RSS
  test_runner/performance/test_compaction.py
Labels: run-benchmarks

#9926 Update rust to 1.83.0, also update cargo adjacent tools
  build-tools.Dockerfile
  rust-toolchain.toml
Labels: run-extra-build-macos

#9938 pageserver: download small objects using a smaller timeout
  libs/remote_storage/src/azure_blob.rs
  libs/remote_storage/src/config.rs
  libs/remote_storage/src/lib.rs
  libs/remote_storage/tests/test_real_azure.rs
  libs/remote_storage/tests/test_real_s3.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/timeline/import_pgdata/importbucket_client.rs
  proxy/src/context/parquet.rs
Labels: t/bug, c/storage/pageserver
