Repository neondatabase/neon, pull requests merged in 2025-04, with the labels that each got.

#11373 use a prod-like shared_buffers size for some perf unit tests
  test_runner/fixtures/utils.py
  test_runner/performance/test_bulk_update.py
  test_runner/performance/test_ingest_insert_bulk.py
  test_runner/performance/test_ingest_logical_message.py
  test_runner/performance/test_parallel_copy.py
  test_runner/performance/test_perf_many_relations.py
  test_runner/regress/test_import_pgdata.py
  test_runner/regress/test_pageserver_getpage_throttle.py
  test_runner/regress/test_physical_replication.py
Labels: run-benchmarks

#11136 pageserver: remove legacy TimelineInfo::latest_gc_cutoff field (2/2)
  libs/pageserver_api/src/models.rs
  pageserver/src/http/routes.rs
Labels: c/storage/pageserver, a/tech_debt

#11389 Improve nightly physical replication benchmark
  test_runner/performance/test_physical_replication.py
Labels: a/benchmark, run-benchmarks

#11412 storage controller: improve safety of shard splits coinciding with controller restarts
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller

#11525 pageserver/tests: make image_layer_rewrite write less data
  pageserver/src/tenant/storage_layer/image_layer.rs
Labels: c/storage/pageserver, a/test, a/tech_debt

#11529 test_runner: propagate config via `attach_hook` for test fix
  control_plane/src/storage_controller.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/pageserver/many_tenants.py
  test_runner/performance/pageserver/pagebench/test_large_slru_basebackup.py
Labels: run-benchmarks

#11545 pageserver: add metrics for get page batch breaking reasons
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  test_runner/fixtures/metrics.py
  test_runner/performance/pageserver/test_page_service_batching.py
Labels: run-benchmarks

#11409 introduce new runners: unit-perf and use them for benchmark jobs
  .github/actionlint.yml
  .github/workflows/build_and_test.yml
  explained_queries.sql
  test_runner/fixtures/pageserver/utils.py
  test_runner/performance/test_branch_creation.py
  test_runner/performance/test_ingest_insert_bulk.py
  test_runner/performance/test_sharded_ingest.py
Labels: run-benchmarks

#11589 pageserver: rename `Tenant` to `TenantShard`
  pageserver/src/config.rs
  pageserver/src/consumption_metrics.rs
  pageserver/src/consumption_metrics/metrics.rs
  pageserver/src/http/routes.rs
  pageserver/src/metrics.rs
  pageserver/src/page_service.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/remote_timeline_client.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/secondary/heatmap_uploader.rs
  pageserver/src/tenant/secondary/scheduler.rs
  pageserver/src/tenant/size.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/tasks.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/delete.rs
  pageserver/src/tenant/timeline/detach_ancestor.rs
  pageserver/src/tenant/timeline/eviction_task.rs
  pageserver/src/tenant/timeline/offload.rs
  pageserver/src/tenant/timeline/uninit.rs
Labels: c/storage/pageserver, a/tech_debt

#11628 tests: use endpoint http wrapper to get auth
  test_runner/performance/test_compute_startup.py
Labels: run-benchmarks

#11558 feat: Direct IO for the pageserver write path
  .github/workflows/_build-and-test-locally.yml
  .github/workflows/build_and_test.yml
  Cargo.lock
  libs/pageserver_api/src/models.rs
  pageserver/Cargo.toml
  pageserver/benches/bench_ingest.rs
  pageserver/src/metrics.rs
  pageserver/src/tenant/blob_io.rs
  pageserver/src/tenant/block_io.rs
  pageserver/src/tenant/disk_btree.rs
  pageserver/src/tenant/ephemeral_file.rs
  pageserver/src/tenant/remote_timeline_client/download.rs
  pageserver/src/tenant/secondary/downloader.rs
  pageserver/src/tenant/storage_layer/delta_layer.rs
  pageserver/src/tenant/storage_layer/image_layer.rs
  pageserver/src/tenant/vectored_blob_io.rs
  pageserver/src/virtual_file.rs
  pageserver/src/virtual_file/io_engine.rs
  pageserver/src/virtual_file/open_options.rs
  pageserver/src/virtual_file/owned_buffers_io/aligned_buffer/buffer_mut.rs
  pageserver/src/virtual_file/owned_buffers_io/write.rs
  pageserver/src/virtual_file/owned_buffers_io/write/flush.rs
  pageserver/src/virtual_file/temporary.rs
  test_runner/fixtures/neon_fixtures.py
Labels: run-benchmarks

#11707 CI(check-macos-build): use gh native cache
  .github/workflows/build-macos.yml
Labels: run-extra-build-macos

#11164 Run the extensions' tests on staging
  .github/actions/neon-project-create/action.yml
  .github/workflows/cloud-extensions.yml
  compute/compute-node.Dockerfile
  docker-compose/docker_compose_test.sh
  docker-compose/ext-src/README.md
  docker-compose/ext-src/hll-src/regular-test.sh
  docker-compose/ext-src/hypopg-src/regular-test.sh
  docker-compose/ext-src/ip4r-src/regular-test.sh
  docker-compose/ext-src/pg_cron-src/regular-test.sh
  docker-compose/ext-src/pg_graphql-src/regular-test.sh
  docker-compose/ext-src/pg_hint_plan-src/regular-test.sh
  docker-compose/ext-src/pg_ivm-src/regular-test.sh
  docker-compose/ext-src/pg_ivm-src/regular.patch
  docker-compose/ext-src/pg_jsonschema-src/Makefile
  docker-compose/ext-src/pg_roaringbitmap-src/regular-test.sh
  docker-compose/ext-src/pg_semver-src/regular-test.sh
  docker-compose/ext-src/pg_session_jwt-src/Makefile
  docker-compose/ext-src/pg_tiktoken-src/Makefile
  docker-compose/ext-src/pg_uuidv7-src/regular-test.sh
  docker-compose/ext-src/pgjwt-src/neon-test.sh
  docker-compose/ext-src/pgrag-src/regular-test.sh
  docker-compose/ext-src/pgtap-src/regular-test.sh
  docker-compose/ext-src/pgvector-src/regular-test.sh
  docker-compose/ext-src/pgx_ulid-src/Makefile
  docker-compose/ext-src/plv8-src/regular-test.sh
  docker-compose/ext-src/postgresql-unit-src/regular-test.sh
  docker-compose/ext-src/prefix-src/regular-test.sh
  docker-compose/ext-src/rag_bge_small_en_v15-src/Makefile
  docker-compose/ext-src/rag_jina_reranker_v1_tiny_en-src/Makefile
  docker-compose/ext-src/rag_jina_reranker_v1_tiny_en-src/expected/reranking_functions.out
  docker-compose/ext-src/rag_jina_reranker_v1_tiny_en-src/expected/reranking_functions_enhanced.out
  docker-compose/ext-src/rag_jina_reranker_v1_tiny_en-src/sql/reranking_functions.sql
  docker-compose/ext-src/rag_jina_reranker_v1_tiny_en-src/sql/reranking_functions_enhanced.sql
  docker-compose/ext-src/rum-src/regular-test.sh
  docker-compose/run-tests.sh
Labels: team/perfcor

#11706 CI(check-macos-build): trigger workflow automatically for PRs
  .github/workflows/build-macos.yml
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-macos

#11727 storcon: use shard 0's initdb for timeline creation
  storage_controller/src/service.rs
Labels: t/bug, c/storage/pageserver

#10715 pageserver: make control_plane_api & generations fully mandatory
  docker-compose/pageserver_config/pageserver.toml
  pageserver/src/bin/pageserver.rs
  pageserver/src/config.rs
  pageserver/src/controller_upcall_client.rs
  pageserver/src/deletion_queue.rs
  pageserver/src/deletion_queue/validator.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/mgr.rs
  pageserver/src/tenant/timeline/import_pgdata.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_pageserver_generations.py
Labels: c/storage/pageserver, a/tech_debt
