Repository neondatabase/neon, pull requests merged in 2025-07, with the labels that each got.

#12403 pageserver: Make ImageLayerWriter sync, infallible and lazy
  pageserver/src/tenant/storage_layer/batch_split_writer.rs
  pageserver/src/tenant/timeline/compaction.rs
Labels: external

#12266 Build dummy libcommunicator into the 'neon' extension
  .github/workflows/build-macos.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  compute/compute-node.Dockerfile
  pgxn/neon/Makefile
  pgxn/neon/communicator/.gitignore
  pgxn/neon/communicator/Cargo.toml
  pgxn/neon/communicator/README.md
  pgxn/neon/communicator/build.rs
  pgxn/neon/communicator/cbindgen.toml
  pgxn/neon/communicator/src/lib.rs
  pgxn/neon/neon.c
  workspace_hack/Cargo.toml
Labels: run-extra-build-macos

#12118 Enable parallel execution of extension tests
  .github/workflows/build_and_test.yml
  .gitignore
  compute/compute-node.Dockerfile
  docker-compose/compute_wrapper/shell/compute.sh
  docker-compose/docker-compose.yml
  docker-compose/docker_compose_test.sh
  docker-compose/run-tests.sh
  docker-compose/test_extensions_upgrade.sh
Labels: team/perfcor

#12496 pageserver: Introduce config to enable/disable eviction task
  libs/pageserver_api/src/config.rs
  pageserver/src/config.rs
  pageserver/src/disk_usage_eviction_task.rs
  pageserver/src/utilization.rs
  test_runner/performance/pageserver/pagebench/test_pageserver_max_throughput_getpage_at_latest_lsn.py
Labels: external

#12533 Grant pg_signal_backend to neon_superuser
  compute_tools/src/migrations/0012-grant_pg_signal_backend_to_neon_superuser.sql
  compute_tools/src/migrations/tests/0012-grant_pg_signal_backend_to_neon_superuser.sql
  compute_tools/src/spec.rs
Labels: /release-notes

#12593 storcon: validate intent state before applying optimization
  storage_controller/src/tenant_shard.rs
  test_runner/performance/test_sharding_autosplit.py
Labels: run-benchmarks

#12474 proxy: subzero integration in auth-broker (embedded data-api)
  .config/hakari.toml
  .github/actions/prepare-for-subzero/action.yml
  .github/workflows/_build-and-test-locally.yml
  .github/workflows/_check-codestyle-rust.yml
  .github/workflows/build-macos.yml
  .github/workflows/build_and_test.yml
  .github/workflows/neon_extra_builds.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  deny.toml
  pgxn/neon/communicator/Cargo.toml
  proxy/Cargo.toml
  proxy/README.md
  proxy/src/binary/local_proxy.rs
  proxy/src/binary/proxy.rs
  proxy/src/cache/timed_lru.rs
  proxy/src/config.rs
  proxy/src/redis/notifications.rs
  proxy/src/serverless/mod.rs
  proxy/src/serverless/rest.rs
  proxy/src/serverless/sql_over_http.rs
  proxy/src/util.rs
  proxy/subzero_core/.gitignore
  proxy/subzero_core/Cargo.toml
  proxy/subzero_core/src/lib.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/fixtures/utils.py
  test_runner/regress/test_rest_broker.py
Labels: run-extra-build-macos

#12591 Introduce built-in Prometheus exporter to the Postgres extension
  Cargo.lock
  compute_tools/Cargo.toml
  compute_tools/src/communicator_socket_client.rs
  compute_tools/src/http/routes/metrics.rs
  compute_tools/src/http/server.rs
  compute_tools/src/lib.rs
  pgxn/neon/Makefile
  pgxn/neon/communicator/Cargo.toml
  pgxn/neon/communicator/README.md
  pgxn/neon/communicator/src/lib.rs
  pgxn/neon/communicator/src/worker_process/callbacks.rs
  pgxn/neon/communicator/src/worker_process/control_socket.rs
  pgxn/neon/communicator/src/worker_process/lfc_metrics.rs
  pgxn/neon/communicator/src/worker_process/logging.rs
  pgxn/neon/communicator/src/worker_process/main_loop.rs
  pgxn/neon/communicator/src/worker_process/mod.rs
  pgxn/neon/communicator/src/worker_process/worker_interface.rs
  pgxn/neon/communicator_process.c
  pgxn/neon/communicator_process.h
  pgxn/neon/file_cache.c
  pgxn/neon/neon.c
  poetry.lock
  pyproject.toml
  test_runner/fixtures/endpoint/http.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_communicator_metrics_exporter.py
  test_runner/regress/test_compatibility.py
  test_runner/regress/test_lfc_working_set_approximation.py
Labels: run-extra-build-macos
