Repository neondatabase/neon, pull requests merged in 2025-03, with the labels that each got.

#10924 storcon: add per-tenant rate limiting for API requests
  Cargo.lock
  Cargo.toml
  storage_controller/Cargo.toml
  storage_controller/src/http.rs
  storage_controller/src/main.rs
  storage_controller/src/metrics.rs
  storage_controller/src/service.rs
  test_runner/fixtures/pageserver/allowed_errors.py
Labels: run-benchmarks, m/stability-feb25

#11149 pageserver: remove legacy `TimelineInfo::latest_gc_cutoff` field (1/2)
  libs/pageserver_api/src/models.rs
  pageserver/src/http/openapi_spec.yml
  pageserver/src/http/routes.rs
Labels: c/storage/pageserver, a/tech_debt

#11183 storcon_cli: remove pre-warm helper
  control_plane/storcon_cli/src/main.rs
Labels: a/tech_debt, c/storage/controller

#11256 storcon: safety check when completing shard split
  storage_controller/src/persistence.rs
  storage_controller/src/service.rs
Labels: t/bug, c/storage/controller

#11285 fix(pagectl/benches): scope context with debug tools
  pageserver/benches/bench_ingest.rs
  pageserver/ctl/src/layer_map_analyzer.rs
  pageserver/ctl/src/layers.rs
  pageserver/ctl/src/main.rs
  pageserver/src/context.rs
Labels: run-benchmarks

#11290 storcon: reproduce shard split issue
  storage_controller/src/persistence.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_controller.py
Labels: t/bug, c/storage/controller
