Repository neondatabase/neon, pull requests merged in 2025-01, with the labels that each got.

#10256 cargo: update diesel, pq-sys
  Cargo.lock
  storage_controller/Cargo.toml
Labels: a/tech_debt, c/storage/controller

#10260 tests: add upload wait in test_scrubber_physical_gc_ancestors
  test_runner/regress/test_storage_scrubber.py
Labels: a/test, a/tech_debt

#10259 pageserver: fix a 500 during timeline creation + shutdown
  pageserver/src/tenant.rs
Labels: c/storage/pageserver, a/tech_debt

#10282 Fix clippy warning on macOS
  compute_tools/src/bin/compute_ctl.rs
Labels: run-extra-build-macos

#9889 ci: use reusable workflow for MacOs build
  .github/file-filters.yaml
  .github/workflows/build-macos.yml
  .github/workflows/neon_extra_builds.yml
Labels: run-extra-build-macos

#10264 storage controller: don't hold detached tenants in memory
  storage_controller/src/id_lock_map.rs
  storage_controller/src/persistence.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#10324 remote_storage: enable Azure connection pooling by default
  libs/remote_storage/src/config.rs
Labels: c/storage/pageserver, a/tech_debt

#10325 storcon: don't log a heartbeat error during shutdown
  storage_controller/src/service.rs
Labels: a/tech_debt, c/storage/controller

#10328 Update rust to 1.84.0
  build-tools.Dockerfile
  rust-toolchain.toml
Labels: run-extra-build-macos

#10342 tests: refine how compat snapshot is generated
  test_runner/regress/test_compatibility.py
Labels: a/tech_debt

#10343 tests: move test_parallel_copy into performance tree
  test_runner/performance/test_parallel_copy.py
Labels: run-benchmarks

#10346 tests: smaller datasets in LFC tests
  test_runner/regress/test_lfc_resize.py
  test_runner/regress/test_local_file_cache.py
Labels: a/test, a/tech_debt

#10337 chore(compute): pg_mooncake v0.1.0
  compute/compute-node.Dockerfile
Labels: external

#10363 storage controller: improve consistency_check_api
  storage_controller/src/service.rs
Labels: a/tech_debt, c/storage/controller

#10284 storage controller: API + CLI for migrating secondary locations
  control_plane/src/storage_controller.rs
  control_plane/storcon_cli/src/main.rs
  libs/pageserver_api/src/controller_api.rs
  storage_controller/src/compute_hook.rs
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  test_runner/regress/test_storage_controller.py
Labels: t/feature, t/on_call_followup, c/storage/controller

#9916 storcon: rework scheduler optimisation, prioritize AZ
  libs/pageserver_api/src/controller_api.rs
  storage_controller/Cargo.toml
  storage_controller/src/drain_utils.rs
  storage_controller/src/reconciler.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
  storage_controller/src/service/context_iterator.rs
  storage_controller/src/tenant_shard.rs
  test_runner/performance/test_sharding_autosplit.py
  test_runner/performance/test_storage_controller_scale.py
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_controller.py
Labels: t/feature, run-benchmarks, c/storage/controller

#10379 storage controller: quality of life improvements for AZ handling
  control_plane/storcon_cli/src/main.rs
  libs/pageserver_api/src/controller_api.rs
  storage_controller/src/metrics.rs
  storage_controller/src/node.rs
  storage_controller/src/persistence.rs
  storage_controller/src/scheduler.rs
  storage_controller/src/service.rs
  storage_controller/src/tenant_shard.rs
Labels: c/storage/controller

#10365 storage controller: pagination for tenant listing API
  control_plane/storcon_cli/src/main.rs
  storage_controller/src/http.rs
  storage_controller/src/service.rs
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_controller.py
Labels: t/feature, c/storage/controller

#10422 storage controller: handle legacy TenantConf in consistency_check
  storage_controller/src/service.rs
Labels: t/bug, c/storage/controller

#10420 tests: stabilize test_storage_controller_node_deletion
  test_runner/fixtures/neon_fixtures.py
  test_runner/regress/test_storage_controller.py
Labels: a/test, a/tech_debt, c/storage/controller

#10397 Enable pgx_ulid on Postgres 17
  compute/compute-node.Dockerfile
Labels: /release-notes

#10438 storage controller: make chaos less disruptive to AZ locality
  storage_controller/src/service/chaos_injector.rs
  storage_controller/src/tenant_shard.rs
Labels: a/tech_debt, c/storage/controller

#8754 rfcs: add sharded ingest RFC
  docs/rfcs/041-sharded-ingest.md
Labels: t/tech_design_rfc

#10301 tests: enable wal reader fanout in tests
  test_runner/fixtures/neon_fixtures.py
Labels: run-benchmarks

#10518 remote_storage: less sensitive timeout logging in ABS listings
  libs/remote_storage/src/azure_blob.rs
Labels: a/tech_debt, c/storage/scrubber

#10524 pageserver: retry wrapper on manifest upload
  pageserver/src/tenant.rs
Labels: t/bug, c/storage/pageserver

#10564 fix(pageserver): compaction perftest wrt upper limit
  pageserver/src/tenant/timeline/compaction.rs
  test_runner/performance/test_compaction.py
Labels: run-benchmarks

#10568 storcon_cli: fix spurious error setting preferred AZ
  control_plane/storcon_cli/src/main.rs
Labels: a/tech_debt, c/storage/controller

#10595 tests: relax constraints on test_timeline_archival_chaos
  test_runner/regress/test_timeline_archive.py
Labels: a/test, a/tech_debt

#10600 storcon: refine chaos selection logic
  storage_controller/src/service/chaos_injector.rs
Labels: a/tech_debt, c/storage/controller

#10604 pageserver: revise logging of cancelled request results
  pageserver/src/http/routes.rs
Labels: c/storage/pageserver, a/tech_debt

#10618 Update rust to 1.84.1
  build-tools.Dockerfile
  rust-toolchain.toml
Labels: run-extra-build-macos
