Repository neondatabase/neon, pull requests merged in 2025-02, with the labels that each got.

#10606 tests: stabilize shard locations earlier in test_scrubber_tenant_snapshot
  test_runner/regress/test_storage_scrubber.py
Labels: a/test, a/tech_debt

#10572 feat(pageserver): preempt image layer generation if L0 piles up
  control_plane/src/pageserver.rs
  libs/pageserver_api/src/config.rs
  libs/pageserver_api/src/models.rs
  pageserver/src/tenant.rs
  pageserver/src/tenant/config.rs
  pageserver/src/tenant/storage_layer/batch_split_writer.rs
  pageserver/src/tenant/timeline.rs
  pageserver/src/tenant/timeline/compaction.rs
  test_runner/regress/test_attach_tenant_config.py
Labels: run-benchmarks

#10675 tests: don't detach from controller in test_issue_5878
  test_runner/regress/test_layers_from_future.py
Labels: a/test, a/tech_debt

#10687 Switch reqlsns[0].request_lsn to arrow operator in neon_read_at_lsnv() (#10620)
  pgxn/neon/pagestore_smgr.c
Labels: external

#10700 tests: fix flaky endpoint in test_ingest_logical_message
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_ingest_logical_message.py
Labels: run-benchmarks

#10719 tests: wait for manifest persistence in test_timeline_archival_chaos
  test_runner/fixtures/remote_storage.py
  test_runner/regress/test_timeline_archive.py
Labels: a/test, a/tech_debt

#10752 tests: temporarily permit a log error
  test_runner/regress/test_sharding.py
  test_runner/regress/test_storage_scrubber.py
Labels: a/test, a/tech_debt

#10574 Implement a second HTTP server within compute_ctl
  compute/patches/pg_hint_plan_v16.patch
  compute/patches/pg_hint_plan_v17.patch
  compute_tools/src/bin/compute_ctl.rs
  compute_tools/src/compute.rs
  compute_tools/src/http/mod.rs
  compute_tools/src/http/server.rs
  control_plane/src/bin/neon_local.rs
  control_plane/src/endpoint.rs
  proxy/src/bin/local_proxy.rs
  test_runner/fixtures/endpoint/http.py
  test_runner/fixtures/neon_cli.py
  test_runner/fixtures/neon_fixtures.py
  test_runner/performance/test_lazy_startup.py
  test_runner/performance/test_startup.py
  test_runner/regress/test_neon_local_cli.py
  test_runner/regress/test_wal_acceptor_async.py
Labels: forward compatibility breakage

#10778 chore(compute): pg_mooncake v0.1.2
  compute/compute-node.Dockerfile
Labels: external

#10791 CI(build-and-test): run `benchmarks` after `deploy` job
  .github/workflows/build_and_test.yml
Labels: run-benchmarks

#10817 storcon: fix eliding parameters from proxied URL labels
  Cargo.lock
  storage_controller/Cargo.toml
  storage_controller/src/http.rs
Labels: t/bug, c/storage/controller

#10829 feat(compute) add pg_duckdb extension v0.3.1
  compute/compute-node.Dockerfile
  compute/patches/pg_duckdb_v031.patch
Labels: a/documentation, a/performance, a/docker, a/business-analytics, c/compute, f/extensions

#10929 storcon: do more concurrent optimisations
  storage_controller/src/service.rs
Labels: a/tech_debt, c/storage/controller

#10750 test(pageserver): add reldir v2 into tests
  test_runner/performance/test_perf_many_relations.py
  test_runner/regress/test_pg_regress.py
Labels: run-benchmarks
